<div class="modal fade " data-backdrop="static" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content p-4">
        <div class="modal-header"><span data-bs-dismiss="modal" >&times;</span></div>
        <div class="row mb-3">
          <div class="col-12 ">
              <div  class="row d-flex justify-content-center" style="font-size: 10px !important;">
                  <div class="history-txt">History</div>
                  <table class="table table-striped">
                      <thead>
                          <tr class="thead-dark" style="background-color: silver;">
                              <th scope="col">Request ID</th>
                              <th scope="col">Source</th>
                              <th scope="col">Current Status</th>
                              <th scope="col">Forwarded Date</th>
                              <th scope="col">Status</th>
                          </tr>
                      </thead>
                      <tbody *ngIf="loanApprovalHistory?.historydata?.length>0"> 
                              <tr *ngFor="let obj of loanApprovalHistory?.historydata"> 
                              <th scope="row">{{obj.ID}}</th>
                              <td>{{obj.Source}}</td>
                              <td>{{obj.Destination}}</td>
                              <td>{{obj.Forwardeddate}}</td>
                              <td>{{obj.StatusName}}</td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="loanApprovalHistory?.historydata?.length==0">
                          <tr>
                              <th colspan="5">Data Not Found.</th>
                          </tr>
                      </tbody>
                  </table>
                  <br>
                  <div class="row p0">
                      <div class="col-md-4 p0 mt-2">
                          <div class="history-txt">File Detail</div>
                          <table class="table table-striped">
                              <thead>
                                  <tr class="thead-dark" style="background-color: silver;">
                                      <th scope="col">File</th>
                                  </tr>
                              </thead>
                              <tbody *ngIf="loanApprovalHistory?.historyGriddata?.length>0">
                                  <tr *ngFor="let obj of loanApprovalHistory?.historyGriddata">
                                      <th scope="row"><a href="{{obj.filepth}}" target="_blank">download</a></th>
                                  </tr>
                              </tbody>
                              <tbody *ngIf="loanApprovalHistory?.historyGriddata?.length==0">
                                  <tr>
                                      <th colspan="1">Data Not Found.</th>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="payment-request-no f14">Payment Request No : {{lblPayNo}}</div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---witness and accept digitally-->
  <div  class="modal fade " data-backdrop="static" id="witness_accept_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content p-4">
        <div class="modal-header mb-4"><span data-bs-dismiss="modal" >&times;</span></div>
        <div class="row mb-3">
        <div id="ContentPlaceHolder1_pnlAggreement" class="witness_and_accept_content">
            <div class="col-12 ">
                <div class="print_agreement" *ngIf="view_agreement==true">
                    <button type="button" (click)="print_agreement()" class="btn btn-secondary">Print</button>
                    
                </div>  
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="center">
                                <u><b>EMPLOYEE LOAN AGREEMENT</b></u>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <br />
                                <p>
                                    This loan Agreement is entered into on
                                    <span id="ContentPlaceHolder1_lblSectiondate" style="font-weight:bold;">{{today}}</span>
                                    by
                                    <span id="ContentPlaceHolder1_lblEmpName" style="font-weight:bold;">{{witness_accept_array.EmployeeName}}</span>
                                    S/o Sh.
                                    <span id="ContentPlaceHolder1_lblFathername" style="font-weight:bold;"></span>
                                    Address
                                    <span id="ContentPlaceHolder1_lblAddress" style="font-weight:bold;"></span>
                                    between <b>Luminous Power Technologies Pvt. Ltd.,</b>
                                    a company Incorporated under Companies Act, 1956 and having its registered office at <b>Plot No-150, Sec-44, Gurgaon, Haryana-122003</b> hereinafter called the “Company” and 
                                    <span id="ContentPlaceHolder1_lblEmpName1" style="font-weight:bold;">{{witness_accept_array.EmployeeName}}</span>
                                    (Employee), hereinafter referred to as the ”Borrower”.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="1" cellspacing="1">
                                    <tr>
                                        <td colspan="3">1.	Recital
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>
                                                (a)	Employee is employed by the Company as
                                                <span id="ContentPlaceHolder1_lblDesignation" style="font-weight:bold;">Software Engineer</span>
                                                <span id="ContentPlaceHolder1_lbldepartment" style="font-weight:bold;">IT</span>
                                                of the Company with employee code 
                                               <span id="ContentPlaceHolder1_lblEmpcode" style="font-weight:bold;">{{witness_accept_array.PersonalId}}</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>
                                                (b)	The Borrower desires and the Company agrees that a sum of Rs.
                                                <span id="ContentPlaceHolder1_lblSanctionAmount" style="font-weight:bold;">{{witness_accept_array.Amount}}</span>
                                                /-
                                                (
                                                <span id="ContentPlaceHolder1_lblWord" style="font-weight:bold;">{{amount_in_words}}</span>
                                                )
                                                is given to the Borrower subject to good and sufficient safeguards for repayment of loan and remedies for recovery in case of default, termination of service for whatever reasons, and the borrower resigning from the services of the Company.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">2.	 Agreement
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>
                                                a)	The Company will lend to the Borrower a sum of Rupees
                                                <span id="ContentPlaceHolder1_lblSanctionAmount1" style="font-weight:bold;">{{witness_accept_array.Amount}}</span>
                                                only   pursuant to the terms and conditions set forth herein.
                                            </p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>
                                                b)	The loan will be repayable by the Borrower in
                                                <span id="ContentPlaceHolder1_lblEmitype" style="font-weight:bold;">{{emi_months }}</span>
                                                equated installments from the date of disbursement. Each Installment of Rs.
                                                <span id="ContentPlaceHolder1_lblInstallAmount" style="font-weight:bold;">{{installments}}</span>
                                                will be payable on the 1st of the following month. In the event of non-payment in any particular month, the Company shall be entitled to deduct the instalment amount from the salary of that particular month.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>c)	The Borrower will give in the name of the Company one un- dated signed cheque equivalent to the amount of the loan disbursed and interest thereon.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>The Borrower shall deliver to the Company each of the following Documents prior to disbursement of Loan as a Condition Precedent (herein referred to as the Loan Documents):</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>
                                                •	Promissory note in the amount of Rs
                                                <span id="ContentPlaceHolder1_lblSanctionAmount2" style="font-weight:bold;">{{witness_accept_array.Amount}}</span>
                                                (
                                                <span id="ContentPlaceHolder1_lblword1" style="font-weight:bold;">{{amount_in_words}}</span>
                                                )
                                                [K&K Note: if this is in hard copy, please ensure that it is duly stamped.]
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>•	One Un-dated signed cheque in the name of the company equivalent to the amount of the loan disbursed with interest thereon.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">3. Safeguards
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>(a)	To ensure security for the repayment of the loan, in addition to any or all other rights and remedies available to the Company hereunder or at law, the Borrower will provide two sureties.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>(b)	If the Borrower leaves the employment of the Company before Repayment of the loan or in the event of termination of the service of the Borrower, the Borrower will immediately repay the balance amount of loan. In the event of the Borrower’s failure to fulfill this condition: </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>a.	The Note shall immediately become due and payable, without notice or demand;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>The Company shall be at liberty to set off its claim against any dues payable to the employee, including salary for the notice period as well as initiate legal proceedings in the court of law in accordance with this covenant for recovery. </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <p>The cost incurred by the Company for such recovery, including attorney cost shall be at the cost of Borrower</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">4.	Entire Agreement</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                This Agreement together with the loan documents constitutes the full and entire understanding and agreement between the Parties hereto with regard to the subject matter hereof. Neither this Agreement nor terms hereof may be amended, waived, discharged, or terminated other than by written instrument signed by the Parties against whom enforcement of any such amendment, waiver, discharge or termination is sought. No waiver of any provision of this agreement or any loan document shall be effective unless in writing and the waiver of any loan document shall be effective unless in writing and the waiver of any one provision shall not be 
                                            Deemed a waiver any other provision unless expressly stated in writing.  All rights and remedies of the company described herein and in any other documents or instruments evidencing or securing the loan (including, without limitation, the loan documents) shall be cumulative and not restrictive of any other rights or remedies available under any other rights or remedies available under any document or instrument, at law or in equity.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">5.	Notices</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>All notices and other communications required of the parties shall be in writing and may be given by personal delivery, registered post, facsimile, e-mail, etc.   Any notice shall be addressed to the address of the parties set forth on the signature page hereof.  The company or the borrower may change their address by giving notice of the same to that effect.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">6.	Income Tax Consequence
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Borrower hereby acknowledges that there has been no representation or warranty made by the Company to the Borrower concerning income tax consequences. The Borrower shall be solely responsible for ascertaining and bearing such tax consequences.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">7.	Governing Laws
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>The Agreement shall be governed and interpreted in all respects by the law of India. If any dispute arises, the courts in Delhi only will have exclusive jurisdiction over such dispute.  If any of the provisions of this Agreement shall be declared by   any court of law to be invalid or unenforceable, the remaining provisions shall not be affected thereby and these shall be valid and enforceable.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="3">8.	E-Agreement
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>This Agreement has been duly signed in an electronic form in accordance with the provisions of the Indian Contract Act, 1872 and the Information Technology Act, 2000. Both Parties agree to the validity and enforceability of this Agreement and undertake that they shall not challenge the validity of this Agreement in any manner whatsoever. </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="center"><u><b>PROMISORY NOTE</b></u></td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <br />
                                <p>
                                    I, Mr./Ms.
                                    <span id="ContentPlaceHolder1_lblEmployeeName1" style="font-weight:bold;">{{witness_accept_array.EmployeeName}}</span>
                                    S/o D/o. Sh.
                                    <span id="ContentPlaceHolder1_lblFathername1" style="font-weight:bold;"></span>
                                    Address
                                    <span id="ContentPlaceHolder1_lblAddress1" style="font-weight:bold;"></span>
                                    between <b>Luminous Power Technologies Pvt. Ltd.</b> taken from M/s Luminous Power Technologies Pvt Ltd. ; a Company incorporated under the Companies Act, 1956 and having its registered office at Plot No. 150 Sect 44 Gurgaon Haryana  (hereinafter called company) , a loan of Rs.
                                  <span id="ContentPlaceHolder1_lblSanctionAmount3 capitalize" style="font-weight:bold;">{{witness_accept_array.Amount}}</span>/-
                                    (
                                    <span id="ContentPlaceHolder1_lblWord3" style="font-weight:bold;">{{amount_in_words}}</span>
                                    )
                                    which I undertake to repay in accordance with the repayment schedule and terms and condition mentioned here under.  
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    1.	The repayment of the principal amount will be made in <span id="ContentPlaceHolder1_lblEmitype1" style="font-weight:bold;">{{emi_months}}</span> equal monthly installments of Rs.
                                    <span id="ContentPlaceHolder1_lblInstallAmount2" style="font-weight:bold;">{{installments}}</span>/- 
                                    p.m. The monthly installment shall be payable by 1st of each calendar month.  One un-dated signed cheque equivalent to the amount of the loan disbursed and interest will be given
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2.	I agree that if I fail to repay the installment by the due date or the cheque given by me bounces, I shall be liable to pay the balance with penal   interest @ 24% per annum from the date of disbursement of the loan</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3.	I authorize the company to deduct from my salary or any money payable to me, such amount on account of installment due on this loan.  I also authorize the company to treat this as my written undertaking required under the rules for deducting the amount from my dues or any money standing to my credit, including pension, gratuity and any other dues</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>4.	I further authorize the company that in the event of my death or termination of my services by the company before this loan has been fully repaid, to deduct from the moneys due or standing to my credit or due to my estate or any gratuity or pension to which I may become entitled, such amount as may be sufficient to liquidate the balance of this loan</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>5.	I also undertake that if I resign from the service of the company before full repayment of loan, I shall repay immediately the unpaid portion of the loan and interest. 5.	I also undertake that if I resign from the service of the company before full repayment of loan, I shall repay immediately the unpaid portion of the loan and interest. </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>6.	I understand that this promissory note is being executed by me for protecting the interests of the company, which has granted the loan to me. </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>7.	I understand and acknowledge that in the event of any default on my part, I shall be liable to pay all costs of collection, including reasonable attorney’s fees incurred by the company on account of collection, if suit is filed for recovery in the court of law. </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>8.	If I repay all or any portion of the loan any time prior to the maturity date, with no premium or penalty, the interest thereon shall cease on the portion of the principal amount repaid. </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                </td>
            </tr>
        </table>
        <!---witness form table-->
        <table width="100%">
            <tr>
                
                <td colspan="4">
                    <b>COMPANY</b>
                </td>
                <td><b>BORROWER</b></td>
            </tr>
            <tr>
               
                <td colspan="4"><b>WITNESSES</b></td>
                <td colspan="5"><b>WINESSES & GUARANTORS</b></td>
            </tr>
            <tr>
              
                <td colspan="4">1.</td>
                <td>Employee Code:<span id="ContentPlaceHolder1_lblEmpCode1" style="font-weight:bold;"></span>
                </td>
                <td *ngIf="view_agreement==false">
                    <input [(ngModel)]="witness1" [disabled]="is_disabled" (change)="validate_input('witness1','witness1_error')" class="form-control witness1" name="ctl00$ContentPlaceHolder1$txtEmpCode1" type="text" maxlength="8"  id="ContentPlaceHolder1_txtEmpCode1" />
                    <div class=" error witness1_error display_none"> Witness 1 reuired </div>
                </td>
                <td *ngIf="view_agreement==true">
                    <b>{{witness_list_array.lblEmpCode1}} </b>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
               
                <td colspan="4">2.</td>
                <td>Employee Code:<span id="ContentPlaceHolder1_lblEmpCode2" style="font-weight:bold;"></span>
                </td>
                <td *ngIf="view_agreement==false">
                    <input [(ngModel)]="witness2" (change)="validate_input('witness2','witness2_error')" class=" witness2 form-control" name="ctl00$ContentPlaceHolder1$txtEmpCode2" type="text" maxlength="8"  id="ContentPlaceHolder1_txtEmpCode2" />
                    <div class=" error witness2_error display_none"> Witness 2 required</div>
                </td>
                <td *ngIf="view_agreement==true">
                    <b>{{witness_list_array.lblEmpCode2}} </b>
                </td>

            </tr>
            <tr *ngIf="view_agreement==false">
                <td colspan="5"></td>
                <td class="pt-2">
                    <input [(ngModel)]="accept_w_form" (change)="validate_input('accept_w_form','accept_w_form_error')" class="accept_w_form form-check-input" id="ContentPlaceHolder1_chkId" type="checkbox" name="ctl00$ContentPlaceHolder1$chkId" /><label for="ContentPlaceHolder1_chkId">&nbsp;Accept</label>
                    <div class=" error accept_w_form_error display_none"> required </div>
                </td>
            </tr>
            <tr *ngIf="view_agreement==false">
                <td colspan="5"></td>
                <td class="pt-3">
                    <button class="btn btn-primary" (click)="witness_submit()" type="button" name="ctl00$ContentPlaceHolder1$btnDigit"  id="ContentPlaceHolder1_btnDigit" >Submit</button>
                </td>
            </tr>
            <tr *ngIf="view_agreement==true">
                <td colspan="6" class="pt-15">
                    Accepted By: {{witness_list_array.lblEmpName}} {{witness_list_array.lblEmpcode}} Date: {{witness_list_array.lblAcceptDate}}
                </td>
            </tr>
            <tr *ngIf="view_agreement==true" >
                <td colspan="6" class="pt-15">
                    Witness 1: () Date:<br>
                    Witness 2: () Date:
                </td>
            </tr>
            <tr *ngIf="view_agreement==true" >
                <td colspan="6" class="pt-15">
                    Digitally accepted by employee & signature not required
                </td>
            </tr>

        </table>
    
    </div>

    <input type="hidden" name="ctl00$ContentPlaceHolder1$btnopen" id="ContentPlaceHolder1_btnopen" />
    <input type="hidden" name="ctl00$ContentPlaceHolder1$btnopen1" id="ContentPlaceHolder1_btnopen1" />
    <input type="hidden" name="ctl00$ContentPlaceHolder1$btnopen3" id="ContentPlaceHolder1_btnopen3" />
        </div>
    </div>
    </div>
    </div>
</div>
 

