.actionbtn{
    cursor: pointer;
    color: #0d6efd;
    text-decoration: underline;
    font-size: 12px;
    margin-right: 2px;
}
.modal-dialog{
    max-width: 600px;
}
.modal-header{
    display: block;
    padding: 0;
    text-align: end;
    border: none;
}
.modal-header span{
    cursor: pointer;
    font-size: 25px;
    margin-top: -15px;
    position: absolute;
    right: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.approveBtn{
    background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  30%;
}
.required {
    font-size: 14px;
    color: red;
}
.display_none{
    display: none;
}
.ec{
    font-weight: 600;
    color: #3e3c3c;
}
.history-txt{
    text-align: center;
    font-size: 16px;
    margin-bottom: 6px;
    text-decoration: underline;
}
.p0{
    padding: 0;
}
.f14{
    font-size: 14px;
}
.upload_file{
    border: none;
    display: block;
}

.witness_and_accept_content{
    overflow-y: scroll;
    /* width: 800px; */
    height: 400px;
    background-color: White;
    /* border-width: 1px; */
    padding: 2px;
}

.capitalize{
    text-transform: capitalize !important;
}

.error{
    color: red;
}

.pt-15{
    padding-top: 15px;
}