<app-hrdashboard></app-hrdashboard>
<div class="container-fluid ">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="row mt-5 px-2">
        <div class="col-12 mt-5">
            <div  class="row d-flex justify-content-center  "
            style="font-size: 10px !important;">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped ">
                <thead>
                    <tr class="thead-dark" style="background-color: silver;">
                        <th scope="col">Request Id</th>
                        <th scope="col" style="width: 180px;">Employee Code</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Purpose Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Status </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let obj of loanApprovalList">
                        <th scope="row">{{obj?.ID}}</th>
                        <td>{{obj?.PersonalId}}</td>
                        <td>{{obj?.EmployeeName}}</td>
                        <td>{{obj?.CategoryType}}</td>
                        <td>{{obj?.PurposeType}}</td>
                        <td>{{obj?.Amount}}	</td>
                        <td>{{obj?.Createddate}}</td>
                        <td>{{obj?.Status}}</td>
                        <td>
                            <span class="actionbtn" (click)="approval_modal(obj)">Apr</span>|
                            <span class="actionbtn" (click)="reject_modal(obj)">Rjt</span>|
                            <span class="actionbtn" (click)="open_detail_page(obj)">Detail</span>
                        </td>
                    </tr>
                </tbody>
    
            </table>
            
        </div>
        </div>
    </div>
</div>
<app-detail-modal 
[loanApprovalHistory]="loanApprovalHistory"
></app-detail-modal>
<app-hr-dashboard-footer></app-hr-dashboard-footer>