<app-hrdashboard></app-hrdashboard>
<div class="container mt-3">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="row" >
        <div class="col-2"></div>
        <ng-container>
            <div class="col-auto">
                <label for="" class="">select month</label>
            </div>
            <div class="col-auto">
                <select class="form-select" name="month" id="month" [(ngModel)]="month">
                    <option value="">Select</option>
                    <option value="01">January</option>
                    <option selected="selected" value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <div class="month_err error display_none"></div>
            </div>
            <div class="col-auto">Select Year</div>
            <div class="col-auto">
                <select class="form-select" [(ngModel)]="year">
                    <option value="">Select</option>
                    <option *ngFor="let item of year_arr" [value]="item">{{item}}</option>
                </select>
                <div class="year_err error display_none"></div>
            </div>
            <div class="col-auto">Select Employee</div>
            <div class="col-auto">
                <select class="form-select" name="employee_list" id="employee_list" [(ngModel)]="employee_code">
                    <option value="">select</option>
                    <option *ngFor="let item of employee_list" value="{{item?.code}}">{{item?.name}}</option>
                </select>
                <div class="error display_none employee_code_err"></div>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="filter_month_wise()">Show</button>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
        </ng-container>
       
        
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-12 col-sm-12 col-md-12">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped ">
                <thead>
                    <tr class="thead-dark" style="background-color: silver;">
                        <th scope="col">Employee Code</th>
                        <th scope="col">Date</th>
                        <th scope="col">Day Type</th>
                        <th scope="col">In Time</th>
                        <th scope="col">Out Time</th>
                        <th scope="col">Total Working Time	</th>
                        <th scope="col">Result</th>
                        <th scope="col">In Place</th>
                        <th scope="col">Out Place</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tbody *ngIf="attendance_list?.length>0">
                    <tr *ngFor="let obj of attendance_list" [ngClass]="{'abs': obj.ttime=='A' || obj.ttime =='A/2'}">
                        <td>{{obj.EmpCode}}</td>
                        <td>{{obj.Date}}</td>
                        <td>{{obj.Day_Type}}</td>
                        <td>{{obj.In_Time}}</td>
                        <td>{{obj.Out_Time}}</td>
                        <td>{{obj.Total_Working_Time}}</td>
                        <td>{{obj.ttime}}</td>
                        <td>{{obj.INPlace}}</td>
                        <td>{{obj.OUTPlace}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="attendance_list?.length==0">
                    <tr>
                        <th colspan="11">Data Not Found.</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>