<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-end mt-3 copyright">
            <span style="font-size: 13px;">Luminous India 2021 Copyright</span>
        </div>
    </div>
</div>
