input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FD7B38;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500 !important;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}



select{
    background: url(/assets/Dropdown.svg) no-repeat;
    background-position: right 6px center; /* Change the px value here to change the distance */
    -moz-appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
        padding : 4px 20px
}

@media screen and (min-width: 320px) and (max-width: 1000px) {

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #FD7B38;
    }
    
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500 !important;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }


    
}


















/* modal-forms classes */


.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

}
.form-responsive1 {
    height: auto;
}
.request-responsive{
    margin-bottom: 7px;
}   

.request {
    font-weight: 600;
    margin-top: 20px;
}

.request2 {
    font-weight: 600;
}
.button2 {
    margin-left: 24px;
    border: 1px solid;
    padding: 5px;
    background-color: #FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;
    
}