
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="card mt-4">
                <div class="card-header" style="background: #096187;color: white;">
                  <h5>Change Password</h5>
                </div>
                <!----cpmpany profile card-->
                <div class="card-body p-4" >
                  <div class="row">
                      <div class="col-sm-12 col-lg-4">
                        <form action="">
                            <div class="mb-3">
                                <label for="">Enter Old Password</label>
                                <input type="password" class="form-control old_password" [(ngModel)]="old_password" (ngModelChange)="validate_input('old_password','old_password_err')">
                                <div class="error old_password_err"></div>
                            </div>
                            <div class="mb-3">
                                <label for="">Enter New Password</label>
                                <input type="password" class="form-control new_password" [(ngModel)]="new_password"  (ngModelChange)="validate_input('new_password','new_password_err')">
                                <div class="error new_password_err"></div>
                            </div>
                            <div class="mb-3">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control confirm_password" [(ngModel)]="confirm_password"  (ngModelChange)="validate_input('confirm_password','confirm_password_err')">
                                <div class="error confirm_password_err"></div>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-secondary" (click)="update_password()">Change Password</button>
                            </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div> 
</div>
