<app-hrdashboard></app-hrdashboard>
<div class="container mt-3">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="row">
        <div class="col-auto">
            <input type="radio" value="1" name="month_wise" id="month_wise" [(ngModel)]="filter_by"/>
            <label for="">Month Wise</label>
        </div>
        <div class="col-auto" >
            <input type="radio" value="2" style="padding-left: 10px;" name="month_wise" id="month_wise" [(ngModel)]="filter_by"/>
            <label for="">Date Wise</label>
        </div>
        
        <ng-container *ngIf="filter_by =='1'">
            <div class="col-auto">
                <label for="" class="">select month</label>
            </div>
            <div class="col-auto">
                <select class="form-select" name="month" id="month" [(ngModel)]="month">
                    <option value="">Select</option>
                    <option value="01">January</option>
                    <option selected="selected" value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <div class="month_err error display_none"></div>
            </div>
            <div class="col-auto">Select Year</div>
            <div class="col-auto">
                <select class="form-select" [(ngModel)]="year">
                    <option value="">Select</option>
                    <option *ngFor="let item of year_arr" [value]="item">{{item}}</option>
                </select>
                <div class="year_err error display_none"></div>
            </div>
            <div class="col-auto">
                Enter Employee:
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" [(ngModel)]="employee_code" (ngModelChange)="validate_employee_code()">
                <div class="employee_code_err error display_none"></div>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="filter_month_wise()">Show</button>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
        </ng-container>
        <ng-container *ngIf="filter_by =='2'">
            <div class="col-auto">Select Date</div>
            <div class="col-auto">
                <!-- <input type="date" class="form-control" [(ngModel)]="from_date"> -->
                <input type="text" ngxDaterangepickerMd   [locale]="{applyLabel: 'ok',format: 'MM-DD-YYYY'}" [(ngModel)]="selected" startKey="start" endKey="end"
                 class="form-control" (change)="validate_date($event)"/>
                <div class="from_date_err error display_none"></div>
            </div>
            
            <div class="col-auto">
                Enter Employee Code:
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" [(ngModel)]="employee_code" (ngModelChange)="validate_employee_code()">
                <div class="employee_code_err error display_none"></div>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="filter_date_wise()">Show</button>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
            
        </ng-container>
       
        
    </div>
    <div class="row mt-3">
        <div class="col-12 col-lg-12 col-sm-12 col-md-12">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped mt-5">
                <thead>
                    <tr class="thead-dark" style="background-color: silver;">
                        <th scope="col">Employee Code</th>
                        <th scope="col">Date</th>
                        <th scope="col">Day Type</th>
                        <th scope="col">In Time</th>
                        <th scope="col">Out Time</th>
                        <th scope="col">Total Working Time	</th>
                        <th scope="col">Result</th>
                        <th scope="col">In Place</th>
                        <th scope="col">Out Place</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tbody *ngIf="attendance_list?.length>0">
                    <tr *ngFor="let obj of attendance_list"  [ngClass]="{'abs': obj.ttime=='A' || obj.ttime =='A/2'}">
                        <td>{{obj.EmpCode}}</td>
                        <td>{{obj.Date}}</td>
                        <td>{{obj.Day_Type}}</td>
                        <td>{{obj.In_Time}}</td>
                        <td>{{obj.Out_Time}}</td>
                        <td>{{obj.Total_Working_Time}}</td>
                        <td>{{obj.ttime}}</td>
                        <td>{{obj.INPlace}}</td>
                        <td>{{obj.OUTPlace}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="attendance_list?.length==0">
                    <tr>
                        <th colspan="11">Data Not Found.</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>