<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-sidenav #sidenav mode="over" style="width: 287px;height: 100vh; position: fixed;overflow-y: auto; ">
    <img style="height: 17px; width: 17px; margin-top: 10px;margin-left: 10px" (click)="sidenav.toggle()"
    src="../../../assets/Menu/Menu@2x.png" alt="">
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <span class="employe">Employee Portal</span>

    </div>
    <div class="row p-2 mt-4"
    style="background-color: #FEF4EF;  border-right: 2px solid #FD7B38; margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">Dashboard</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">HR Dashboard</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">Admin</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">Helpdesk</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">HR Helpdesk</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px; cursor: pointer;" routerLink="/itServiceDesk/main">
    <div class="col-lg-12 p-2">
        <span class="a">IT Service Desk</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
        <span class="a">Travel Plan & Claim</span>
    </div>
    </div>
    <div class="row p-2 " style="margin-left: 0px; margin-right: 0px; background-color: #FD7B38; color: white; cursor: pointer;"
    (click)="logout()">
        <div class="col-lg-12 p-2">
            <span class="a">Logout</span>
        </div>
        </div>
</mat-sidenav>
<div class="row p-2 bg-white">
    <div class="col-lg-12 sidenav">
        <div class="row  mb-1">
        <div class="col-lg-10">
            <img style="width: 125px; height: 30px;" src="../../../assets/LuminousLogoBlue/LuminousLogoBlue@2x.png"
            alt="">
        </div>
        <div class="col-lg-2 mt-2 ">
            <img style="height: 17px; width: 17px;" src="../../../assets/Menu/Menu@2x.png" alt="">
        </div>
        </div>
        <div class="row">
        <span class="employe">Employee Portal</span>

        </div>
        <div class="row p-2 mt-4" style="background-color: #FEF4EF;  border-right: 2px solid #FD7B38;">
        <div class="col-lg-12 p-2">
            <span class="a" routerLink="/dashboard" style="cursor: pointer;">Dashboard</span>

        </div>
        </div>
        <div class="row p-2 " routerLink="/hrDashboard" style="cursor: pointer;">
        <div class="col-lg-12 p-2">
            <span class="a">HR Dashboard</span>
        </div>
        </div>
        <div class="row p-2 ">
        <div class="col-lg-12 p-2">
            <span class="a">Admin</span>
        </div>
        </div>
        <div class="row p-2 ">
        <div class="col-lg-12 p-2">
            <span class="a">Helpdesk</span>
        </div>
        </div>
        <div class="row p-2 ">
        <div class="col-lg-12 p-2">
            <span class="a">HR Helpdesk</span>
        </div>
        </div>
        <div class="row p-2 " routerLink="/itServiceDesk/main" style="cursor: pointer;">
        <div class="col-lg-12 p-2">
            <span class="a">IT Service Desk</span>
        </div>
        </div>
        <div class="row p-2 ">
        <div class="col-lg-12 p-2">
            <span class="a">Travel Plan & Claim</span>
        </div>
        </div>
        <div class="row p-2 " style="background-color: #FD7B38; color: white; cursor: pointer;" (click)="logout()">
        <div class="col-lg-12 p-2">
            <span class="a">Logout</span>
        </div>
        </div>
    </div>
    </div>

  

