<div class="container-fluid">
    <div class="row mb-2 pt-2 pl-3 pr-3">
        <div class="col-lg-12 col-12 mb-2 bg-white main-column">
            <div class="row mt-1 mb-1">
                <span style="font-size:24px; font-weight: 500;">Ticket </span>
            </div>
            <div class="row mb-2 mt-1" style="background-color: #FFF9F6;">
                <div *ngIf="ticketArr?.Designation != '' && ticketArr?.Designation != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Designation</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Designation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Item</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.item}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Priority</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.priority}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">SubCategory</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.subcat}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.status != '' && ticketArr?.status != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Status</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.status}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Subject</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdesc}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Location</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.locn}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Emp Name</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postname}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Contact No</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.contactno}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Posted Date</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Type Of Req</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.ReqType}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Business Justification</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postid}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.Changedur != '' && ticketArr?.Changedur != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Change Duration</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Changedur}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Email</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code" style="word-break: break-all;">{{ticketArr?.mail}}</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row mt-1 mb-1">
                <span style="font-size:24px; font-weight: 500;">Tickets post details </span>
            </div>
            <div class="row mb-2 mt-1 ">
                <div class="col-lg-12  scrol" *ngIf="ticketReplyArr?.length > 0">
                    <div *ngFor="let obj of ticketReplyArr; index as i" class="row  mb-1 mr-0 "
                        style="border: 1px solid #f8e0d3; border-radius: 8px;">
                        <div class="col-lg-12 mt-2">
                            <div class="row">
                                <div class="col-lg-10 col-9 editor-text" [innerHtml]="obj.remarks">

                                </div>
                                <div class="col-lg-2 col-3  ">

                                    <div class="row mt-1 d-flex justify-content-end pr-2">
                                        <button *ngIf="obj.Status != 'Closed' && obj.Status != 'Resolved'" type="text"
                                            class=" awaiting p-2">{{obj.Status}}</button>
                                        <button *ngIf="obj.Status == 'Closed' || obj.Status == 'Resolved'" type="text"
                                            class=" wip p-2">{{obj.Status}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply By</span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplyby}}</span>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply date </span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplydate}}</span>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-lg-12 col-12 p-0">
                    <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row d-flex justify-content-center mt-4">
                        <div class="col-lg-6 col-12 p-0 mt-2 ">
                            <div class="row">
                                <input type="file" multiple (change)="selectFiles($event)" />
                            </div>
                            <div class="row mt-3">
                                <!-- <button
                                    style="background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  60%;"
                                    type="button" class="btn btn-outline-primary">Add Attachment</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-lg-12 col-12">
                    <div class="row  mt-1 mb-1" style=" color: black">

                        <span style="font-size:24px; font-weight: 500;">Reply :</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Ticket ID</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Test results</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Downtime window</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Rollback Plan </span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg4">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-2 col-6">
                                    <span class="id">CC Email</span>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <input type="text"
                                        style="display: inline !important; border: 1px solid #FD7B38; width: 30%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                        class="form-control" placeholder="">
                                    <span> please enter only mail id ,if you add multiple mail id please use ; without ;
                                        mail not be send.</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Status: </span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Search</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">AssignTo</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-2 ">
                    <div class="form-check  ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Software
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-check  ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mail
                        </label>
                    </div>
                </div>

            </div>
            <div class="row mt-4">
                <button type="button" class="btn btn-primary awaiting">Back</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary awaiting">Submit</button>
            </div>
        </div>
    </div>
</div>