.container-fluid {
  background-color: rgba(248, 248, 248, 1);
  height: auto;
}

.main-column {
  border-radius: 8px;
  padding-left: 38px;
  padding-right: 38px;
}

.main-number {
  font-size: 20px;
  color: blue;
  font-weight: 600;
}

.main-content {
  color: #fd7b38;
  font-size: 15px;
  text-align: center;
}

.id {
  color: grey;
  font-size: 15px;
}

.code {
  font-weight: 500;
  font-size: 15px;
}

.scrol {
  height: 60vh;

  overflow-y: auto;
}

.wip {
  background-color: rgb(58, 255, 58);
  color: black;
  font-weight: 500;
  border-radius: 8px;
  height: 30px;
  width: auto;
  font-size: 13px;
  text-align: center;
  border: 0px;
}
.awaiting {
  background-color: #fd7b38;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  height: 30px;
  width: auto;
  font-size: 13px;
  border: 0px;
  text-align: center;
}
.editor-text {
  font-size: 14px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #fd7b38;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500 !important;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

select {
  background: url(/assets/Dropdown.svg) no-repeat;
  background-position: right 6px center; /* Change the px value here to change the distance */
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 20px;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid #fd7b38;
  }

  input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500 !important;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
}

/* modal-forms classes */

.button {
  border: 1px solid #fd7b38;
  padding: 5px;
  background-color: #fd7b38;
  color: white;
  border-radius: 5px;
  width: 80px;
}
.form-responsive1 {
  height: auto;
}
.request-responsive {
  margin-bottom: 7px;
}

.request {
  font-weight: 600;
  margin-top: 20px;
}

.request2 {
  font-weight: 600;
}
.button2 {
  margin-left: 24px;
  border: 1px solid;
  padding: 5px;
  background-color: #fd7b38;
  color: white;
  border-radius: 5px;
  width: 80px;
}
