
    
<div class="cf mt-4">
    <!-- ============= COMPONENT ============== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
        <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="main_nav">
        
    
        <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="#">View Employees </a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Leave/Od Application </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">&raquo; Apply For New </a></li>
                  <li><a class="dropdown-item" href="#">&raquo; View History </a></li>
                  <li><a class="dropdown-item" href="#">&raquo; Leave Balance</a></li>
                  <li><a class="dropdown-item" href="#">&raquo; Approvals</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Attendance </a>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="['/hrDashboard/ownAttendance']" class="dropdown-item" href="#">&raquo; Own Attendance</a></li>
                  <li><a [routerLink]="['/hrDashboard/reporteeAttendance']" class="dropdown-item" href="#">&raquo; Reportee Attendance</a></li>
                  <li><a [routerLink]="['/hrDashboard/AttendanceHR']" class="dropdown-item" href="#">&raquo;  Attendance HR</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">E-learning</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> POR </a></li>
                  <li><a class="dropdown-item" href="#"> Posh</a></li>
                  <li><a class="dropdown-item" href="#">MS Excel Manual</a></li>
                  <li><a class="dropdown-item" href="#">MS Power Point Manual</a>
                  <li><a class="dropdown-item" href="#">Feedback</a>
                  <li><a class="dropdown-item" href="#">Information Security Quiz </a>
                  <!-- <li><a class="dropdown-item" href="#">EHS  </a>
                  <li><a class="dropdown-item" href="#">Quiz </a> -->
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">E-Suggestion</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Share your Suggestion</a></li>
                  <li><a class="dropdown-item" href="#">Suggestion History </a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> COVID-19 Vaccination certificate</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">Upload</a></li>
                        <li><a class="dropdown-item" href="#">Approval</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Coupon</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">Apply For New Coupon</a></li>
                        <li><a class="dropdown-item" href="#">Cloupon History</a></li>
                        <li><a class="dropdown-item" href="#">Report</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Loan and Advance</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item"  [routerLink]="['/hrDashboard/loanAdvanceRequest']" routerLinkActive="router-link-active" >»Loan Advance Request</a></li>
                        <li><a class="dropdown-item"  [routerLink]="['/hrDashboard/loanAdvanceApproval']" routerLinkActive="router-link-active" >»Loan Advance Approval HR</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/hrDashboard/loanPendingApproval']" routerLinkActive="router-link-active" >»Pending Approval</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/hrDashboard/loanAdvanceReport']" routerLinkActive="router-link-active" >»Loan Advance Report</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Internet Reimbursement</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Apply For Internet Reimbursement </a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Internet Reimbursement History </a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Internet Reimbursement Approval</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Mobile/Car</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">» Request t</a></li>
                        <li><a class="dropdown-item" href="#">» Request Approval</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">IJP</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; IJP Posting Detail </a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Meeting Room</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Meeting Room Booking </a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Meeting Room History </a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Visitor Confirmation</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Visitor Confirmation</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Employee Referral</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Employee Referral Form</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Profile Picture Upload &raquo;</a></li>
                  <li><a class="dropdown-item" href="#">Courier Tracking &raquo;</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Courier Request</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Courier History</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">RGP/NRGP </a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; User History</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; RM Approval</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Inward (admin)</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Inward Approval(admin)</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; RGP/NRGP (admin)</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Report(admin)</a></li>
                     </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Guest House</a>
                       <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">&raquo; Guest House Booking</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Guest House Booking list User</a></li>
                        <li><a class="dropdown-item" href="#">&raquo; Guest House Admin</a></li>
                     </ul>
                  </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Administration </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="dropdown-item" href="#">&raquo; Emp Heirarchy </a></li>
                  <li><a class="dropdown-item" href="#" [routerLink]="['/hrDashboard/EmpAttendanceMapping']" routerLinkActive="router-link-active" >&raquo; Emp Attendance Mapping </a></li>
                </ul>
            </li>
        </ul>
      </div> <!-- navbar-collapse.// -->
     </div> <!-- container-fluid.// -->
    </nav>
    
    <!-- ============= COMPONENT END// ============== -->
    
    
    
    </div><!-- container //  -->
