<div class="container-fluid px-4" style="font-family: Poppins; ">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div [formGroup]="filterForm" class="row d-flex justify-content-center  " style="font-size: 10px !important;">
        <div class="col-lg-3 p-0 mt-4">
            <div class="row p-2">
                <div class="col-3 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px;">Ticket No.</label>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <input type="text" formControlName="ticketNo"
                        style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        class="form-control" placeholder="Enter Ticket No">
                </div>
                <div class="col-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" style="font-weight: 600; font-size:14px;" type="checkbox"
                            formControlName="assgin" id="flexCheckChecked">
                        <label class="form-check-label" style="font-weight: 600; font-size:14px;"
                            for="flexCheckChecked">
                            Assigned
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 p-0 mt-4">
            <div class="row p-2">
                <div class="col-5 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px;">EmpCode (Log By)</label>
                </div>
                <div class="col-7 d-flex align-items-center">
                    <input type="text" formControlName="logby"
                        style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        class="form-control" placeholder="Enter EmpCode">
                </div>
            </div>
        </div>

        <div class="col-lg-3 p-0 mt-4" style="display: inline !important;">
            <div class="row p-2">
                <div class="col-2 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px; display: inline;">Date</label>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <input type="date" formControlName="Stdate"
                        style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        class="form-control">
                </div>
                <div class="col-5 d-flex align-items-center">
                    <input type="date" formControlName="Enddate"
                        style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        class="form-control">
                </div>
            </div>
        </div>

        <div *ngIf="filterForm?.get('assgin')?.value == true " class="col-lg-3 p-0 mt-4">
            <div class="row p-2">
                <div class="col-4 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px;">Select Status</label>

                </div>
                <div class="col-8 d-flex align-items-center">
                    <select class="form-select px-2 " formControlName="status"
                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                        <option selected value="0">select</option>
                        <option *ngFor="let obj of statusArr" value="{{obj.statusid}}">{{obj?.statusdesc}}
                        </option>

                    </select>
                </div>
            </div>

        </div>

        <div class="col-lg-3 p-0 mt-4">
            <div class="row p-2">
                <div class="col-3 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px;">Item</label>

                </div>
                <div class="col-9 d-flex align-items-center">
                    <select class="form-select px-2 " formControlName="item"
                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                        <option value="0" selected>All</option>
                        <option *ngFor="let obj of itemArr" value="{{obj.item}}">{{obj.desc}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-lg-2 p-0 mt-4">
            <div class="row p-2">
                <div class="col-3 d-flex align-items-center">
                    <label style="font-weight: 600; font-size:14px;">Days</label>
                </div>
                <div class="col-9 d-flex align-items-center">
                    <input type="text" formControlName="days"
                        style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        class="form-control" placeholder="Enter Days">
                </div>
            </div>

        </div>

        <div class="col-lg-1 p-0 mt-4 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary awaiting" (click)="saveSelectionDay()">Save</button>
        </div>

        <div class="col-lg-1 p-0 mt-4 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary awaiting" (click)="refresh()">Refresh</button>
        </div>

        <div class="col-lg-1 p-0 mt-4 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary awaiting" (click)="getTechnicianTicketList()">Show</button>
        </div>
        <mat-form-field *ngIf="ticketList?.length>0 && !showDetailFlag" appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter()" [(ngModel)]="filterVal"
                placeholder="Enter Any Value From The Table">
        </mat-form-field>

        <table *ngIf="ticketList?.length>0 && !showDetailFlag" class="table table-striped">
            <thead>
                <tr class="thead-dark" style="background-color: silver;">
                    <th scope="col">Ticket Id</th>
                    <th scope="col" style="width: 180px;">Subject</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">Item</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Logged By</th>
                    <th scope="col">Logged Date </th>
                    <th scope="col">Priority</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Assigned</th>
                    <th scope="col">Assigned Date</th>
                    <th *ngIf="filterForm?.get('assgin')?.value == false " scope="col">Pick Up</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody *ngIf="ticketList?.length>0">
                <tr *ngFor="let obj of ticketList | paginate: { itemsPerPage: 10, currentPage: p }">
                    <th scope="row">{{obj.postid}}</th>
                    <td>{{obj.postdesc}}</td>
                    <td>{{obj.subcat}}</td>
                    <td>{{obj.item}}</td>
                    <td>{{obj.site}}</td>
                    <td>{{obj.statusdesc}}</td>
                    <td>{{obj.postname}}</td>
                    <td>{{obj.postdate}}</td>
                    <td>{{obj.priority}}</td>
                    <td>{{obj.ReqType}}</td>
                    <td>{{obj.assignto}}</td>
                    <td>{{obj.assgibydate}}</td>
                    <td *ngIf="filterForm?.get('assgin')?.value == false " (click)="pickupPopup(obj.postid,obj.priority)"
                        style="text-decoration: underline; color: blue; cursor: pointer;">
                        Pick Up</td>
                    <td style="text-decoration: underline; color: blue; cursor: pointer;" (click)="showDetail(obj)">
                        Detail</td>
                </tr>
            </tbody>

        </table>
        <div *ngIf="ticketList?.length>0 && !showDetailFlag" class="row d-flex justify-content-center">
            <div style="width: 30%;">
                <pagination-controls (pageChange)="p = $event" (responsive)="true"></pagination-controls>
            </div>
        </div>
    </div>

    <div *ngIf="showDetailFlag" class="row mb-2 pt-2 pl-3 pr-3">
        <div class="col-lg-12 col-12 mb-2 bg-white main-column">
            <div class="row mt-1 mb-1">
                <span class="d-flex justify-content-start" style="font-size:24px; font-weight: 500; width: 50%;">Ticket
                </span>
                <span class="d-flex justify-content-end" style="width: 50%;">
                    <button type="text" class=" awaiting p-2" (click)="back()">Back</button>
                </span>
            </div>
            <div class="row mb-2 mt-1" style="background-color: #FFF9F6;">
                <div *ngIf="ticketArr?.Designation != '' && ticketArr?.Designation != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Designation</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Designation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Ticket ID</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postid}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Item</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.item}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Priority</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.priority}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">SubCategory</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.subcat}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.status != '' && ticketArr?.status != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Status</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.statusdesc}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Subject</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdesc}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Location</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.locn}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Emp Name</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postname}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Contact No</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.contactno}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Posted Date</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Type Of Req</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.ReqType}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Business Justification</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postid}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.Changedur != '' && ticketArr?.Changedur != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Chnage Duration</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Changedur}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Email</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code" style="word-break: break-all;">{{ticketArr?.mail}}</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row mt-1 mb-1">
                <span style="font-size:24px; font-weight: 500;">Tickets post details </span>
            </div>
            <div class="row mb-2 mt-1 ">
                <div class="col-lg-12 " *ngIf="ticketReplyArr?.length > 0">
                    <div *ngFor="let obj of ticketReplyArr; index as i" class="row  mb-1 mr-0 "
                        style="border: 1px solid #f8e0d3; border-radius: 8px;">
                        <div class="col-lg-12 mt-2">
                            <div class="row">
                                <div class="col-lg-10 col-9 editor-text" [innerHtml]="obj.remarks">

                                </div>
                                <div class="col-lg-2 col-3  ">

                                    <div class="row mt-1 d-flex justify-content-end pr-2">
                                        <button *ngIf="obj.Status != 'Closed' && obj.Status != 'Resolved'" type="text"
                                            class=" awaiting p-2">{{obj.Status}}</button>
                                        <button *ngIf="obj.Status == 'Closed' || obj.Status == 'Resolved'" type="text"
                                            class=" wip p-2">{{obj.Status}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply By</span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplyby}}</span>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply date </span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplydate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="ticketArr.statusdesc != 'Closed'" class="row mt-2 mb-2">
                <div class="col-lg-12 col-12 p-0">
                    <angular-editor [(ngModel)]="reply_text" [placeholder]="'Enter text here...'" [config]="editorConfig" (ngModelChange)="validate_input('reply_text','reply_text_err')"></angular-editor>
                    <div class="error reply_text_err display_none"></div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row d-flex justify-content-center mt-4">
                        <div class="col-lg-6 col-12 p-0 mt-2 ">
                            <div class="row">
                                <input type="file" multiple (change)="selectFiles($event)" />
                            </div>
                            <div *ngIf="uploaded_file_list?.length>0" class="row">
                                <div class="col-12 mt-2">
                                    <table class="table" style="font-size: 12px;width: 18rem;">
                                        <thead>
                                            <tr>
                                                <th>Delete</th>
                                                <th>FileId</th>
                                                <th>FilePath</th>
                                                <th>FileType</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploaded_file_list | paginate: { itemsPerPage: 10, currentPage: p }">
                                                <td scope="row"><span style="text-decoration: underline; color: blue; cursor: pointer;" >Delete</span></td>
                                                <td>
                                                    {{item.fileid}}
                                                </td>
                                                <td>
                                                    <a href="{{item.url}}">{{item.filename}}</a>
                                                </td>
                                                <td>
                                                    {{item.type}}
                                                </td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div *ngIf="uploaded_file_list?.length>0 " class="row d-flex justify-content-center" style="font-size: 10px;">
                                         <div style="width: 100%;">
                                             <pagination-controls (pageChange)="p = $event" (responsive)="true"></pagination-controls>
                                         </div>
                                     </div>
                                    
                                </div>
                            </div>
                            <!-- <div class="row mt-3">
                                <button
                                    style="background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  60%;"
                                    type="button" class="btn btn-outline-primary">Add Attachment</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-4">
                <div class="col-lg-12 col-12">
                    <div class="row  mt-1 mb-1" style=" color: black">
                        <span style="font-size:24px; font-weight: 500;">Reply :</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <!-- <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Ticket ID</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="" value="{{ticketArr.postid}}" readonly>
                                        </div>
                                    </div>
                                </div> -->

                                <div *ngIf="checkType('Implementation')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Implementation</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text" [(ngModel)]="implementation" (ngModelChange)="validate_input('implementation','implementation_err')"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control implementation" placeholder="" >
                                                <div class="error display_none implementation_err "></div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="checkType('Test results')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Test results</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text" [(ngModel)]="test_result" (ngModelChange)="validate_input('test_result','test_result_err')"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control test_result" placeholder="">
                                                <div class="error display_none test_result_err"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="checkType('Downtime')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Downtime window</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text" [(ngModel)]="downtime_window" (ngModelChange)="validate_input('downtime_window','downtime_window_err')"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control downtime_window" placeholder="">
                                                <div class="error display_none downtime_window_err"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="checkType('Rollback')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Rollback Plan </span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text" [(ngModel)]="rollback_plan"  (ngModelChange)="validate_input('rollback_plan','rollback_plan_err')"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control rollback_plan" placeholder="">
                                                <div class="error display_none rollback_plan_err"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-4" >
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-2 col-6">
                                    <span class="id">CC Email</span>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <input type="text"
                                        style="display: inline !important; border: 1px solid #FD7B38; width: 30%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                        class="form-control" placeholder="">
                                    <span> please enter only mail id ,if you add multiple mail id please use ; without ;
                                        mail not be send.</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row">
                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2" *ngIf="tabVal != 'Unassigned'">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Status: </span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 status" [(ngModel)]="status" (ngModelChange)="validate_input('status','status_err')"
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option value="">select</option>
                                        <option *ngFor="let item of statusArr" value="{{item?.statusid}}" [selected]="item?.statusid == ticketArr.status">{{item?.statusdesc}}</option>
                                    </select>
                                    <div class="error status_err display_none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  mt-2" *ngIf="flexRadioDefault=='1'">
                    <div class="row" *ngIf="tabVal != 'Unassigned'">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Search</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select [(ngModel)]="search_emp_type" (ngModelChange)="validate_input('search_emp_type','search_emp_type_err')"   (change)="GetAssignToList($event)" class="form-select px-2 search_emp_type" style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option value="" >select</option>
                                        <option *ngFor="let item of ITEMListTechTicket" value="{{item?.id}}">{{item?.Itemdesc}}</option>
                                    </select>
                                    <div class="error search_emp_type_err display_none"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2  mt-2" *ngIf="flexRadioDefault=='2'">
                    <div class="row mt-2" *ngIf="tabVal != 'Unassigned'">
                        <div class="col-auto">
                            <label for=""><span class="id">Transport</span>&nbsp;</label>
                          </div>
                          <div class="col-auto">
                            <input type="checkbox" name="transport" id="" [(ngModel)]="transport" (ngModelChange)="check_transport()" class=" custom_chkbox form-checkbox">
                          </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6" *ngIf="flexRadioDefault=='2'">
                    <div class="row mt-2" *ngIf="tabVal!= 'Unassigned'">
                        <div class="col-6">
                           <label class="col-form-label" for=""><span class="id">Mail Approval Assign To:</span></label>
                        </div>
                        <div class="col-6">
                            <input type="text" [(ngModel)]="assignto" name="assign" id="" class="form-control" style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  mt-2" *ngIf="flexRadioDefault=='1'">
                    <div class="row" *ngIf="tabVal != 'Unassigned'">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">AssignTo</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select [(ngModel)]="assignto" class="form-select px-2 assignto" (ngModelChange)="validate_input('assignto','assignto_err')"
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option value="">select</option>
                                        <option *ngFor="let item of AssignToList" value="{{item?.Userid}}">{{item?.Username}}</option>
                                    </select>
                                    <div class="error assignto_err display_none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-3">
                <div class="col-lg-3" *ngIf="tabVal != 'Unassigned'"> 
                    <div class="form-check-inline">
                        <input value="1" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="flexRadioDefault">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Software
                        </label>
                    </div>
                    <div class="form-check-inline" *ngIf="CheckMailRadio=='success'">
                        <input value="2" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="flexRadioDefault">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mail
                        </label>
                    </div>
                    <div class="error flexRadioDefault_err display_none"></div>
                </div>

            </div>
            <div class="row mt-3" *ngIf="tabVal=='Unassigned'">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="">Status</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select name="unassign_status" id="" class="form-select"  style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                            <option value="1">Return to Requester</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="">Assign to</label>
                     
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select name="unassign_status" id="" class="form-select" [disabled]="true"  style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                            <option value="1">unassigned</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4" *ngIf="tabVal!='Unassigned'">
                <button type="button" [disabled]="ticketArr.statusdesc == 'Closed'"
                    class="btn btn-primary awaiting">Close</button>&nbsp;&nbsp;&nbsp;
                <button type="button" [disabled]="ticketArr.statusdesc == 'Closed'"
                    class="btn btn-primary awaiting" (click)="submit_ticket()">Submit</button>
            </div>
            <div class="row mt-4"  *ngIf="tabVal=='Unassigned'">
                <button type="button"
                    class="btn btn-primary awaiting" (click)="ReturnRequestbyAdmin(ticketArr.postid)">Return to Requester</button>&nbsp;&nbsp;&nbsp;
                <button type="button" 
                    class="btn btn-primary awaiting" (click)="pickupPopup(ticketArr.postid,ticketArr.priority)">Pickup and Back</button>&nbsp;&nbsp;&nbsp;
                <button type="button"
                    class="btn btn-primary awaiting" (click)="submit_ticket()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Priority" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Request For Complaint Error Form</h5> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body ">
                <div class="row p-3 mb-2 form-responsive1">
                    <div class="col-lg-12 col-12 ">
                        <div class="row mb-2" *ngIf="popupWindow=='Service'">
                            <div class="col-lg-6 d-flex justify-content-center">
                                <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Priority*: </label>
                            </div>
                            <div class="col-lg-6">
                                <select [(ngModel)]="priority"
                                    style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                    name="cars" id="cars">
                                    <option value="">select </option>
                                    <option *ngFor="let item of priority_arr" [value]="item.id" [selected]="item.val==priority">{{item.val}}</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="popupWindow=='New_Chanage'">
                            <div class="col-lg-6 d-flex justify-content-center">
                                <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Impact of the Change*: </label>
                            </div>
                            <div class="col-lg-6">
                                <select
                                    style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                    name="cars" id="cars">
                                    <option >select </option>
                                    <option >High</option>
                                    <option >Medium</option>
                                    <option >Low</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="popupWindow=='Incident'">
                            <div class="col-12">
                                <div class="col-lg-6 d-flex justify-content-center">
                                    <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Impact Category*: </label>
                                </div>
                                <div class="col-lg-6">
                                    <select
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                        name="cars" id="cars">
                                        <option >select </option>
                                        <option >High</option>
                                        <option >Medium</option>
                                        <option >Low</option>
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-lg-6 d-flex justify-content-center">
                                    <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Urgency Category*: </label>
                                </div>
                                <div class="col-lg-6">
                                    <select
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                        name="cars" id="cars">
                                        <option >select </option>
                                        <option >High</option>
                                        <option >Medium</option>
                                        <option >Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="popupWindow=='SDLC'">

                            <div class="col-lg-6 d-flex justify-content-center">
                                <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Total Development Effort*: </label>
                            </div>
                            <div class="col-lg-6">
                               <input type="text" name="total_development_effort" id="total_development_effort" class="form-control">
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal" aria-label="Close" (click)="closePriorityModal()">Close</button>
                <button class="button" *ngIf="popupWindow=='Service'" type="button" data-dismiss="modal" aria-label="Close" (click)="pickupSave()">Save</button>
            </div>
        </div>
    </div>
</div>