<div class="container-fluid">
  <div class="row" style="height: 100%;">
    <div class="col-lg-6 p-0 loginBanner">
      <img src="assets/images/Mask Group 26@2x.png" style="height: 100vh; width: 100%;" alt="">
    </div>
    <div *ngIf="flag == 'login'" class="col-lg-6 col-12">
      <div class="row topPart ">
        <div class="col-12 p-0">
          <div class="row">
            <img src="assets/images/LuminousLogoBlue.png" alt="">
          </div>
          <div class="row mt-1">
            <span class="underLogoText">Employee Portal</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="loginText">
          Login
        </span>
      </div>
      <div class="row loginForm" [formGroup]="login" novalidate>
        <div class="col-lg-6 p-0 col-11">
          <div class="row mb-4">
            <label for="validationCustom01" class="form-label">Email/User Id</label>
            <input type="text" style="height: 50px;" formControlName="userid" class="form-control"
              [ngClass]="{'is-valid': !userid.errors?.required && userid.touched, 'is-invalid': userid.errors?.required && userid.touched}"
              placeholder="Enter Email/User Id">
            <div class="my-2" style="color: red" *ngIf="userid.errors?.required && userid.touched">Email/User Id is
              required
            </div>
          </div>

          <div class="row mt-4">
            <label for="validationCustom01" class="form-label">Password</label>
            <input type="password" style="height: 50px;" formControlName="pass" class="form-control"
              [ngClass]="{'is-valid': !pass.errors?.required && pass.touched, 'is-invalid': pass.errors?.required && pass.touched}"
              placeholder="Enter Password">
            <div class="my-2" style="color: red" *ngIf="pass.errors?.required && pass.touched">Password is required
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 p-0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-6 p-0 d-flex justify-content-end">
              <span class="forgetPassword" (click)="changeFlag('forgetPassword')">Forget Password?</span>
            </div>
          </div>
          <div class="row mt-3">
            <button class="btn loginBtn px-5 py-2" (click)="loginSubmit()">Login
              <img src="assets/images/next (2).svg" style="display: inline;" alt="">
            </button>
			<button (click)="miclogin()"  >SIGN IN</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="flag == 'forgetPassword'" class="col-lg-6 col-12">
      <div class="row topPart ">
        <div class="col-12 p-0">
          <div class="row">
            <img src="assets/images/LuminousLogoBlue.png" alt="">
          </div>
          <div class="row mt-1">
            <span class="underLogoText">Employee Portal</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="loginText">
          Forget Password
        </span>
      </div>
      <div class="row loginForm" [formGroup]="login" novalidate>
        <div class="col-lg-6 p-0 col-11">
          <div class="row mb-4">
            <label for="validationCustom01" class="form-label">Email/User Id</label>
            <input type="text" style="height: 50px;" formControlName="userid" class="form-control"
              [ngClass]="{'is-valid': !userid.errors?.required && userid.touched, 'is-invalid': userid.errors?.required && userid.touched}"
              placeholder="Enter Email/User Id">
            <div class="my-2" style="color: red" *ngIf="userid.errors?.required && userid.touched">Email/User Id is
              required
            </div>
          </div>

          <div class="row mt-3 d-flex justify-content-end">
            <div class="col-6 p-0 d-flex justify-content-end">
              <span class="forgetPassword" (click)="changeFlag('login')">Back To Login</span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6 p-0 col-11">
              <button class="btn loginBtn px-5 py-2" (click)="sendOtp()" [disabled]="showTimer">Send Otp
                <img src="assets/images/next (2).svg" style="display: inline;" alt="">
              </button>
            </div>
            <div *ngIf="showTimer" class="col-lg-6 p-0 col-11 d-flex justify-content-end align-items-center">
              <span class="text-muted" style="font-size: 15px;">Resend Otp in {{timerVar}} secs</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="flag == 'enterOtp'" class="col-lg-6 col-12">
      <div class="row topPart ">
        <div class="col-12 p-0">
          <div class="row">
            <img src="assets/images/LuminousLogoBlue.png" alt="">
          </div>
          <div class="row mt-1">
            <span class="underLogoText">Employee Portal</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="loginText">
          Enter OTP
        </span>
      </div>
      <div class="row loginForm" novalidate>
        <div class="col-lg-6 p-0 col-11">
          <div class="row mb-4" [formGroup]="login">
            <label for="validationCustom01" class="form-label">Email/User Id</label>
            <input type="text" style="height: 50px;" [value]="userid.value" class="form-control"
              [ngClass]="{'is-valid': !userid.errors?.required && userid.touched, 'is-invalid': userid.errors?.required && userid.touched}"
              placeholder="Enter Email/User Id" disabled>
            <div class="my-2" style="color: red" *ngIf="userid.errors?.required && userid.touched">Email/User Id is
              required
            </div>
          </div>

          <div class="row mt-4" [formGroup]="otpForm">
            <label for="validationCustom01" class="form-label">Enter OTP</label>
            <input type="number" style="height: 50px;" formControlName="otp" class="form-control"
              [ngClass]="{'is-valid': !otp.errors?.required && otp.touched, 'is-invalid': otp.errors?.required && otp.touched}"
              placeholder="Enter OTP">
            <div class="my-2" style="color: red" *ngIf="otp.errors?.required && otp.touched">OTP is required
            </div>
          </div>

          <div class="row mt-3 d-flex justify-content-end">
            <div class="col-6 p-0 d-flex justify-content-end">
              <span class="forgetPassword" (click)="changeFlag('forgetPassword')">Back To Forget Password</span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6 p-0 col-11">
              <button class="btn loginBtn px-5 py-2" (click)="submitOtp()">Submit OTP
                <img src="assets/images/next (2).svg" style="display: inline;" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="flag == 'changePassword'" class="col-lg-6 col-12">
      <div class="row topPart ">
        <div class="col-12 p-0">
          <div class="row">
            <img src="assets/images/LuminousLogoBlue.png" alt="">
          </div>
          <div class="row mt-1">
            <span class="underLogoText">Employee Portal</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="loginText">
          Change Password
        </span>
      </div>
      <div class="row loginForm" [formGroup]="changePasswordForm" novalidate>
        <div class="col-lg-6 p-0 col-11">
          <div class="row mb-4">
            <label for="validationCustom01" class="form-label">Email/User Id</label>
            <input type="text" style="height: 50px;" [value]="userid2.value" class="form-control"
              [ngClass]="{'is-valid': !userid2.errors?.required && userid2.touched, 'is-invalid': userid2.errors?.required && userid2.touched}"
              placeholder="Enter Email/User Id" disabled>
            <div class="my-2" style="color: red" *ngIf="userid2.errors?.required && userid2.touched">Email/User Id is
              required
            </div>
          </div>

          <div class="row mt-4">
            <label for="validationCustom01" class="form-label">New Password</label>
            <input type="password" style="height: 50px;" formControlName="newpwd" class="form-control"
              [ngClass]="{'is-valid': !newpwd.errors?.required && newpwd.touched, 'is-invalid': newpwd.errors?.required && newpwd.touched}"
              placeholder="Enter Password">
            <div class="my-2" style="color: red" *ngIf="newpwd.errors?.required && newpwd.touched">New Password is
              required
            </div>
          </div>

          <div class="row mt-4">
            <label for="validationCustom01" class="form-label">Confirm Password</label>
            <input type="password" style="height: 50px;" formControlName="confirmpwd" class="form-control"
              [ngClass]="{'is-valid': !confirmpwd.errors?.required && confirmpwd.touched, 'is-invalid': confirmpwd.errors?.required && confirmpwd.touched}"
              placeholder="Enter Password">
            <div class="my-2" style="color: red" *ngIf="confirmpwd.errors?.required && confirmpwd.touched">New Password
              is
              required
            </div>
            <div class="my-2" style="color: red" *ngIf="confirmpwd.value != newpwd.value && confirmpwd.touched">
              Passwords did not match
            </div>
          </div>
          <div class="row mt-3 d-flex justify-content-end">
            <div class="col-6 p-0 d-flex justify-content-end">
              <span class="forgetPassword" (click)="changeFlag('forgetPassword')">Back To Forget Password</span>
            </div>
          </div>
          <div class="row mt-3">
            <button class="btn loginBtn px-5 py-2" (click)="changePassword()">Submit
              <img src="assets/images/next (2).svg" style="display: inline;" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



