.underLogoText {
  font: normal normal normal 17px/26px Poppins;
  letter-spacing: 0px;
  color: #595959;
}

.topPart {
  margin-top: 8em;
  margin-left: 6em;
}

.loginText {
  font: normal normal 600 40px/14px Poppins;
  letter-spacing: 0px;
  margin-top: 6rem;
  margin-left: 6rem;
}

.loginForm {
  margin-top: 4rem;
  margin-left: 6rem;
}

.forgetPassword {
  font: normal normal medium 12px/18px Poppins;
  letter-spacing: 0px;
  color: #FD7B38;
}

.loginBtn {
  background: #FD7B38 0% 0% no-repeat padding-box;
  border-radius: 24px;
  color: white;
  height: 48px;
}

.holi-header{
border-radius: 5px;

}





@media screen and (min-width: 320px) and (max-width: 1000px) {
  .loginBanner {
    display: none;
  }
  .topPart {
    margin-top: 1em;
    margin-left: 1em;
  }
  .loginText {
    font: normal normal 600 40px/14px Poppins;
    letter-spacing: 0px;
    margin-top: 6rem;
    margin-left: 1rem;
  }

  .loginForm {
    margin-top: 4rem;
    margin-left: 1rem;
  }

  .loginBtn {
    margin-top: 1rem;
    width: 100%;
  }
}