<div class="container-fluid">
    <div class="row p-3 mb-3 form-responsive1">
        <div class="col-lg-12 col-12  " style="border: 1px solid black;">
            <div class="row mb-3 d-flex justify-content-center request-responsive">
                <span class="request">Request For Customer Extenstion</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">SAP Code
                                <span style="color: #FF0000;">*</span>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Name of Party</span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">CCA Area</span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Credit limit in this CCA Area</span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Sales Office
                                <span style="color: #FF0000;">*</span>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Customer Group</span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;"> Dist. Channel
                                <span style="color: #FF0000;">*</span>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Division
                                <span style="color: #FF0000;">*</span>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Payment terms
                                <span style="color: #FF0000;">*</span>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <span style="font-weight: 500; font-size: 19px;">Sales Group</span>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>

                </div>
            </div>


            <div class="row d-flex justify-content-center mb-2 ">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>





</div>








<!-- form form5 MDM-New Cost Center Reques -->
<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request"> Request For Creation of Cost Centre</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                           
                            <label style="font-weight: 600; font-size: 14 px;" for="floatingInputValue">Department:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size: 14 px;" for="floatingInputValue">Description of
                                Cost Centre to be opened:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size: 14 px;" for="floatingInputValue">Cost Centre
                                Category:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size: 14 px;" for="floatingInputValue">Company Code:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size: 14 px;" for="floatingInputValue">Specify if New
                                Profit Centre Is required:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Cost center Name:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Person
                                Responsible for Cost Centre:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Cost Centre Group
                                under which new cost centre to be created:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Profit Centre for
                                New Cost center:
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>

                </div>
            </div>


            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>


<!-- form  gi creation reqst -->
<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request"> Request for Opening/Extending GL Account</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Company Code:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Account Group:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                                style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            name="cars" id="cars">
                            <option value="volvo">select </option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">select</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row ">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Service Request
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    New Requirement
                                </label>
                            </div>
                        </div>
                       
                       

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	GL Account Short Text:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> GL Account Long Text:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Account Currency:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Open Item Managed:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <div class="row ">
                                <div class="col-lg-6 d-flex justify-content-center">
                                    <div class="form-check  ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check  ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                            checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            No
                                        </label>
                                    </div>
                                </div>
                               
                               
        
                            </div>
                          
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Account Currency:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <div class="row ">
                                <div class="col-lg-6 d-flex justify-content-center">
                                    <div class="form-check  ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check  ">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                            checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            No
                                        </label>
                                    </div>
                                </div>
                               
                               
        
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
             
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	Reason for opening New GL:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>



            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>





<!-- form MDM-New Profit Center Request -->

<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request"> Request for Opening/Extending GL Account</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Department:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Profit Center Name:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Long Text of Profit Centre to be opened:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Company Code:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Person Responsible for Profit Centre:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	Profit Centre Group under which new profit centre to be created:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Segment:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	Specify if New Profit Centre Is required:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
           



            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>




<!-- form  he compliance with the implemented policies and procedures -->
<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request"> Request For Complaint Error Form</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Error Occurred

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                                style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            name="cars" id="cars">
                            <option value="volvo">select </option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">select</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Profit Center Name:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                            style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        name="cars" id="cars">
                        <option value="volvo">select </option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">select</option>
                        </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Complaint/SO No.

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Plant:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Remarks:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-8">
                            <input style="width: 100%; height: 50px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
           



            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>




<!-- form Access Mgmt-User Modification  -->
<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2  " style="background-color: blue;">
                <span class="request2" style="color: white; margin-left: 40px; font-weight: 600;"> User Details</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> System Name:

                                
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                                style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            name="cars" id="cars">
                            <option value="volvo">select </option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">select</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	UserId* :


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" placeholder="10995534" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
           



            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>



<!-- form 	Access Mgmt-New User Creation -->

<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2  " style="background-color: blue;">
                <span class="request2" style="color: white; margin-left: 40px; font-weight: 600;"> User Details</span>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> System Name:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                                style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            name="cars" id="cars">
                            <option value="volvo">select </option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">select</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	Login Type:


                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                            style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                        name="cars" id="cars">
                        <option value="volvo">select </option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">select</option>
                        </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Emp.ID/CustomerID/VendorID:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> 	Name:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Dept. & Designation:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">	Location:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Mobile:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Mail ID:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">RM Empcode/Approving authority:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> RM Name:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            
                        </div>

                    </div>
                </div>
               
            </div>
            
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row ">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Transaction Codes/Roles:
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Reference ID id any:

                                </label>
                            </div>
                        </div>
                       
                       

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                       
                        <div class="col-lg-12">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                            class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> New User Creation:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <select
                                style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            name="cars" id="cars">
                            <option value="volvo">select </option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">select</option>
                            </select>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue">Plant:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
             
               
            </div>


            



            <div class="row d-flex justify-content-center mb-2">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>



<!-- form Employee Offboarding Request -->

<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request"> Offboarded Employee Details –</span>
            </div>
           
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Complaint/SO No.

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Plant:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname"  disabled>
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Remarks:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname" >
                        </div>

                    </div>
                </div>
               
            </div>
           



            <div class="row mb-2 d-flex justify-content-center ">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>



<!-- form Data Transfer/System Wipe Out Request.  -->

<div class="container-fluid">

    <div class="row p-3 mb-2 form-responsive1">
        <div class="col-lg-12 col-12 " style="border: 1px solid black;">
            <div class="row mb-2 d-flex justify-content-center request-responsive">
                <span class="request">FNF Employee Details –</span>
            </div>
           
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Employee Name

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Data backup Required

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                           <div class="row">
                            <div class="col-lg-6 d-flex justify-content-center">
                                <div class="form-check  ">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                       Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-center">
                                <div class="form-check  ">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        No
                                    </label>
                                </div>
                            </div>
                           </div>
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> Last Working Date

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-6">
                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname" >
                        </div>

                    </div>
                </div>
               
            </div>
            
           



            <div class="row mb-2 d-flex justify-content-center ">
                <button class="button" type="button" onclick="">Save</button>
            </div>


        </div>



    </div>


</div>



<!-- form SAP User Access Modification Form -->

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-10">
            <span>SAP User Access Modification Form</span>
        </div>
    </div>

    <div class="row p-1 mb-2 form-responsive1">
        <div class="col-lg-10 col-12 " style="border: 1px solid black; border-top: 0px;">


            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 ">

                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label style="font-size: 16px; font-weight: 600;" class="form-check-label"
                                    for="flexRadioDefault1">
                                    Department / Role change: <span style="font-size: 14px; font-weight: 400;">(In case
                                        of role changed within the department or to other department, old roles will be
                                        disabled) </span>
                                </label>
                            </div>


                        </div>


                    </div>
                </div>

            </div>
            <div class="row mb-2">
                <div class="col-lg-10 p-0">
                    <div class="row">
                        <div class="col-lg-5 d-flex justify-content-center">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> RM
                                Empcode/Approving authority:

                                <span style="color: #FF0000;">*</span>
                            </label>

                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center">

                                    <input
                                        style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                        class="input-form2" type="text" id="fname" name="fname">


                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 p-0">
                            <label style="font-weight: 600; font-size:14px;" for="floatingInputValue"> RM Name:


                            </label>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 ">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label style="font-weight: 600; font-size:14px;" class="form-check-label"
                                    for="flexRadioDefault1">
                                    Transaction Codes/Roles:
                                </label>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" style="font-weight: 600; font-size:14px;"
                                    for="flexRadioDefault1">
                                    Reference ID id any:
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <input style="width: 100%; height: 35px; border: 1px solid #FD7B38;border-radius:8px;"
                                class="input-form2" type="text" id="fname" name="fname">




                        </div>

                    </div>
                </div>

            </div>








        </div>



    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 ">

                    <div class="form-check  ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label style="font-size: 16px; font-weight: 600;" class="form-check-label"
                            for="flexRadioDefault1">
                            Existing User : <span style="font-size: 14px; font-weight: 400;">( For addition / deletion
                                role)</span>
                        </label>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <div class="row mb-2 p-2 ">
        <div class="col-lg-5">
            <button class="button" type="button" onclick="">Save</button>
        </div>

    </div>


</div>