 /* .label {
     margin-bottom: 10px;
     font-size: 17px;
 }

 .input-form {
     margin-bottom: 10px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }

 .request {
     font-weight: 600;
     margin-top: 20px;
 }

 .star {
     color: red;
     margin-left: 5px;
 }

 .button {
     border: 1px solid ;
     padding: 5px;
     background-color:#FD7B38;
     color: white;
     border-radius: 5px;
     width: 80px;

 }
 .input-form1{
    margin-bottom: 10px;
    border: 1px solid #FD7B38;
    border-radius: 5px;
 }

 .form-responsive1 {
     height: 400px;
 }

 @media screen and (min-width: 320px) and (max-width: 1000px) {

    .form-responsive1 {
        height: 530px;
    }
    .form-row {
        padding-left: 0px;
    } 
    .input-responsive{
        padding-left: 0px;
    }
    .input-form {
        margin-bottom: 10px;
        border: 1px solid #FD7B38;
        width: 60%;
        border-radius: 4px;
    }
    .request-responsive{
        margin-bottom: 7px;
    }
    .input-form1{
        margin-bottom: 33px;
        border: 1px solid #FD7B38;
        border-radius: 4px;
       
        width: 60%;
     }
   


 } */

 /* form2 */

 /* .radio {
     margin-left: 10px;
     margin-top: 5px;
     margin-right: 5px;
 }

 .form-border {
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
 }

 .label-form2 {
     margin-left: 10px;
 }

 .input-form2 {
     margin-left: 40px;
     border: 1px solid #FD7B38;
     height: 20px;
     margin-top: 4px;
     border-radius: 5px;
 }

 .reference {
     margin-left: 40px;
     margin-top: 5px;
 }

 .radio1 {
     margin-left: 24px;
     margin-top: 5px;
 }

 .button2 {
     padding: 5px;
    
     margin-left: 24px;
     border: 1px solid ;
     padding: 5px;
     background-color:#FD7B38;
     color: white;
     border-radius: 5px;
     width: 80px;
 }
 .input-form3 {
    border: 1px solid  #FD7B38;
    height: 20px;
    margin-top: 4px;
    width: 80px;
    border-radius: 5px;
}

 @media screen and (min-width: 320px) and (max-width: 1000px) {

    .form-border {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        height: 280px;
 
    }
    .input-form2 {
       
        border: 1px solid #FD7B38;
        
        margin-top: 4px;
        width: 100px;
        border-radius: 5px;
    }
    .input-form3 {
        border: 1px solid  #FD7B38;
      
        margin-top: 4px;
        width: 80px;
        border-radius: 5px;
    }
   
   


} */

 /* form3 */

 /* .user {
     padding-left: 5px;
     font-size: 17px;
     color: white;
     font-weight: 600;
 }

 .input-form1 {
     margin-bottom: 10px;
     border: 1px solid #FD7B38;
     border-radius: 5px;
 }

 .input-form {
     margin-bottom: 10px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }

 .label {
     margin-bottom: 10px;
     font-size: 17px;
 }

 .select {
     margin-bottom: 16px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }

 .select2 {
     margin-bottom: 10px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }

 .button2 {
     padding: 5px;
     margin-left: 24px;
     border: 1px solid;
     padding: 5px;
     background-color: #FD7B38;
     color: white;
     border-radius: 5px;
     width: 80px;
 }

 @media screen and (min-width: 320px) and (max-width: 1000px) {
     .input-form {
         margin-bottom: 10px;
         border: 1px solid #FD7B38;
         width: 80%;
         border-radius: 4px;
     }
     .input-form1 {
         margin-bottom: 33px;
         border: 1px solid #FD7B38;
         border-radius: 4px;
         width: 80%;
     }
     .label-responsive{
         font-size: 15px;
         margin-bottom: 40px;
     }
     .select {
     margin-bottom: 16px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }


 .label-responsive{
    font-size: 15px;
    margin-bottom: 2.5rem;
}

.input-form4{
    margin-bottom: 15px;
    border: 1px solid #FD7B38;
    width: 80%;
    border-radius: 4px;
}

     
 } */

 /* form4 gi creation reqst */

 /* .label {
     margin-bottom: 10px;
     font-size: 17px;
 }

 .input-form {
     margin-bottom: 10px;
     border: 1px solid #FD7B38;
     width: 60%;
     border-radius: 5px;
 }
 .button2 {
    padding: 5px;
    margin-left: 24px;
    border: 1px solid;
    padding: 5px;
    background-color: #FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;
    
}
.request {
    font-weight: 600;
    margin-top: 20px;
}
.select {
    margin-bottom: 16px;
    border: 1px solid #FD7B38;
    width: 60%;
    border-radius: 5px;
}
.label-responsive1{
    font-size: 17px;
}
.input-form-responsive{
    margin-bottom: 10px;
    border: 1px solid #FD7B38;
    width: 60%;
    border-radius: 5px;

}

@media screen and (min-width: 320px) and (max-width: 1000px) {

    .input-form-responsive{
        margin-bottom: 36px;
        border: 1px solid #FD7B38;
        width: 60%;
        border-radius: 5px;
    
    }
    .label-responsive2{
        margin-bottom: 16px;
    }

} */


/* form5 MDM-New Cost Center Reques */

/* .label {
    margin-bottom: 10px;
    font-size: 17px;
}

.input-form {
    margin-bottom: 10px;
    border: 1px solid #FD7B38;
    width: 60%;
    border-radius: 5px;
}

.request {
    font-weight: 600;
    margin-top: 20px;
}

.star {
    color: red;
    margin-left: 5px;
}

.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

}
.input-form1{
   margin-bottom: 10px;
   border: 1px solid #FD7B38;
   border-radius: 5px;
   width: 60%;
}

.form-responsive1 {
    height: 350px;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {

   .form-responsive1 {
       height: 530px;
   }
   .form-row {
       padding-left: 0px;
   } 
   .input-responsive{
       padding-left: 0px;
   }
   .input-form {
       margin-bottom: 10px;
       border: 1px solid #FD7B38;
       width: 60%;
       border-radius: 4px;
   }
   .request-responsive{
       margin-bottom: 7px;
   }
   .input-form1{
       margin-bottom: 33px;
       border: 1px solid #FD7B38;
       border-radius: 4px;

      
       width: 60%;
    }


} */
/* form gi creation reqst  */

/* 
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FD7B38;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500 !important;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */


/* form Access Mgmt-User Modification */


/* .form-responsive1 {
    height: 150px;
}

.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

} */






/* form 	Access Mgmt-New User Creation */
/* .button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

} */



/* form Employee Offboarding Request */
/* .request{
    font-weight: 600;
}
.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

}  */


/* form Data Transfer/System Wipe Out Request. */
/* .request{
    font-weight: 600;
}
.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

} */




/* form SAP User Access Modification Form */

/* .button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

} */



.button {
    border: 1px solid #FD7B38 ;
    padding: 5px;
    background-color:#FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;

}
.form-responsive1 {
    height: auto;
}
.request-responsive{
    margin-bottom: 7px;
}   

.request {
    font-weight: 600;
    margin-top: 20px;
}

.request2 {
    font-weight: 600;
}
.button2 {
    margin-left: 24px;
    border: 1px solid;
    padding: 5px;
    background-color: #FD7B38;
    color: white;
    border-radius: 5px;
    width: 80px;
    
}