<div class="container-fluid px-4" style="font-family: Poppins; ">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div  class="row d-flex justify-content-center  "
        style="font-size: 10px !important;">
        <mat-form-field *ngIf="!showDetailFlag" appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter()" [(ngModel)]="filterVal" placeholder="Enter Any Value From The Table" >
        </mat-form-field>

        <table *ngIf="ticketList?.length>0 && !showDetailFlag" class="table table-striped">
            <thead>
                <tr class="thead-dark" style="background-color: silver;">
                    <th scope="col">Ticket Id</th>
                    <th scope="col" style="width: 180px;">Subject</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">Item</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Logged By</th>
                    <th scope="col">Logged Date </th>
                    <th scope="col">Priority</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Assigned</th>
                    <th scope="col">Assigned Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="ticketList?.length>0">
                <tr *ngFor="let obj of ticketList | paginate: { itemsPerPage: 10, currentPage: p }">
                    <th scope="row">{{obj.postid}}</th>
                    <td>{{obj.postdesc}}</td>
                    <td>{{obj.subcat}}</td>
                    <td>{{obj.item}}</td>
                    <td>{{obj.site}}</td>
                    <td>{{obj.statusdesc}}</td>
                    <td>{{obj.postname}}</td>
                    <td>{{obj.postdate}}</td>
                    <td>{{obj.priority}}</td>
                    <td>{{obj.ReqType}}</td>
                    <td>{{obj.assignto}}</td>
                    <td>{{obj.assgibydate}}</td>
                    <td style="text-decoration: underline; color: blue; cursor: pointer;" (click)="showDetail(obj)">Detail</td>
                </tr>
            </tbody>

        </table>
        <div *ngIf="ticketList?.length>0 && !showDetailFlag" class="row d-flex justify-content-center">
            <div style="width: 30%;">
                <pagination-controls (pageChange)="p = $event" (responsive)="true"></pagination-controls>
            </div>
        </div>
    </div>

    <div *ngIf="showDetailFlag" class="row mb-2 pt-2 pl-3 pr-3">
        <div class="col-lg-12 col-12 mb-2 bg-white main-column">
            <div class="row mt-1 mb-1">
                <span class="d-flex justify-content-start" style="font-size:24px; font-weight: 500; width: 50%;">Ticket
                </span>
                <span class="d-flex justify-content-end" style="width: 50%;">
                    <button type="text" class=" awaiting p-2" (click)="back()">Back</button>
                </span>
            </div>
            <div class="row mb-2 mt-1" style="background-color: #FFF9F6;">
                <div *ngIf="ticketArr?.Designation != '' && ticketArr?.Designation != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Ticket ID</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postid}}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Designation</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Designation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Item</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.item}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Priority</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.priority}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">SubCategory</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.subcat}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.status != '' && ticketArr?.status != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Status</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.status}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Subject</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdesc}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Location</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.locn}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Emp Name</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postname}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Contact No</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.contactno}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Posted Date</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postdate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Type Of Req</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.ReqType}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Business Justification</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.postid}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="ticketArr?.Changedur != '' && ticketArr?.Changedur != null" class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Chnage Duration</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code">{{ticketArr?.Changedur}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="row mt-2">
                        <div class="col-lg-6 col-6">
                            <span class="id">Email</span>
                        </div>
                        <div class="col-lg-6 col-6">
                            <span class="code" style="word-break: break-all;">{{ticketArr?.mail}}</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row mt-1 mb-1">
                <span style="font-size:24px; font-weight: 500;">Tickets post details </span>
            </div>
            <div class="row mb-2 mt-1 ">
                <div class="col-lg-12 " *ngIf="ticketReplyArr?.length > 0">
                    <div *ngFor="let obj of ticketReplyArr; index as i" class="row  mb-1 mr-0 "
                        style="border: 1px solid #f8e0d3; border-radius: 8px;">
                        <div class="col-lg-12 mt-2">
                            <div class="row">
                                <div class="col-lg-10 col-9 editor-text" [innerHtml]="obj.remarks">

                                </div>
                                <div class="col-lg-2 col-3  ">
                                    <div class="row mt-1 d-flex justify-content-end pr-2">
                                        <button *ngIf="obj.Status != 'Closed' && obj.Status != 'Resolved'" type="text"
                                            class=" awaiting p-2">{{obj.Status}}</button>
                                        <button *ngIf="obj.Status == 'Closed' || obj.Status == 'Resolved'" type="text"
                                            class=" wip p-2">{{obj.Status}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply By</span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplyby}}</span>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-2 col-6">
                                    <span class="id">Reply date </span>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <span class="code">{{obj.rplydate}}</span>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="ticketArr.statusdesc != 'Closed'" class="row mt-2 mb-2">
                <div class="col-lg-12 col-12 p-0">
                    <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="replydesc" ></angular-editor>
                    <div class="reply_desc_err display_none error">This field is required</div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row d-flex justify-content-center mt-4">
                        <div class="col-lg-6 col-12 p-0 mt-2 ">
                            <div class="row">
                                <input class="uploaded_file" type="file" multiple (change)="selectFiles($event)" />
                            </div>
                            <div *ngIf="uploaded_file_list?.length>0" class="row">
                                <div class="col-12 mt-2">
                                    <table class="table" style="font-size: 12px;width: 18rem;">
                                        <thead>
                                            <tr>
                                                <th>Delete</th>
                                                <th>FileId</th>
                                                <th>FilePath</th>
                                                <th>FileType</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploaded_file_list | paginate: { itemsPerPage: 10, currentPage: p }">
                                                <td scope="row"><span style="text-decoration: underline; color: blue; cursor: pointer;" >Delete</span></td>
                                                <td>
                                                    {{item.fileid}}
                                                </td>
                                                <td>
                                                    {{item.filename}}
                                                </td>
                                                <td>
                                                    {{item.type}}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div *ngIf="uploaded_file_list?.length>0 " class="row d-flex justify-content-center" style="font-size: 10px;">
                                         <div style="width: 100%;">
                                             <pagination-controls (pageChange)="p = $event" (responsive)="true"></pagination-controls>
                                         </div>
                                     </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-4">
                <div class="col-lg-12 col-12">
                    <div class="row  mt-1 mb-1" style=" color: black">

                        <span style="font-size:24px; font-weight: 500;">Reply :</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Ticket ID</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="" value="{{ticketArr.postid}}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div *ngIf="checkType('Test results')" class="col-lg-6 col-12" >
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Test results</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="checkType('Downtime')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Downtime window</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="checkType('Rollback')" class="col-lg-6 col-12">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <span class="id">Rollback Plan </span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <input type="text"
                                                style="display: inline !important; border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div> -->
            <!-- <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-4">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-2 col-6">
                                    <span class="id">CC Email</span>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <input type="text"
                                        style="display: inline !important; border: 1px solid #FD7B38; width: 30%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                                        class="form-control" placeholder="">
                                    <span> please enter only mail id ,if you add multiple mail id please use ; without ;
                                        mail not be send.</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row">

                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Status: </span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">Search</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4  mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="row mt-2">
                                <div class="col-lg-6 col-6">
                                    <span class="id">AssignTo</span>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <select class="form-select px-2 "
                                        style="border: 1px solid #FD7B38; width: 100%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;">
                                        <option selected>select</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>
                                        <option>asdfghh</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
            <!-- <div *ngIf="ticketArr.statusdesc != 'Closed' && checkTech == 'true'" class="row mt-3">
                <div class="col-lg-2 ">
                    <div class="form-check  ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Software
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-check  ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mail
                        </label>
                    </div>
                </div>

            </div> -->
            <div class="row mt-4">
                <button type="button" [disabled]="ticketArr.statusdesc == 'Closed'" class="btn btn-primary awaiting">Close</button>&nbsp;&nbsp;&nbsp;
                <button type="button" [disabled]="ticketArr.statusdesc == 'Closed'"  class="btn btn-primary awaiting" (click)="submit_form()">Submit</button>
            </div>
        </div>
    </div>
</div>