<div class="container-fluid ">
    <div class="row px-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2 col-6 p-0">
                    <div class="logo  ">
                        <img src="../../../../assets/images/LuminousLogoBlue.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-12  d-flex align-items-center">
                </div>
                <div class=" col-lg-7 col-6 ">
                    <div class="row d-flex justify-content-end dashboard ml-3">
                        <div class=" col-lg-8 col-8 d-flex justify-content-end">
                            <button type="button" class="d-none d-lg-block d-xl-block btn btn-outline-primary button">
                                <div class=" row ">
                                    <div class="col-lg-3 col-3 d-flex justify-content-end p-0">
                                        <img style="height: 17px; width: 17px; margin-top: 3px;;"
                                            src="../../../../assets/noun_dashboard_3846734/noun_dashboard_3846734.png"
                                            alt="">
                                    </div>
                                    <div class="col-lg-8 col-3 p-0" routerLink="/dashboard" style="cursor: pointer;">Dashboard</div>
                                </div>
                            </button>
                        </div>
                        <div class=" d-none d-lg-block d-xl-block col-lg-2 pl-2 col-2">
                            <div class=" row d-flex justify-content-end nam">
                                Ashok Pandey
                            </div>
                            
                            <div class="row d-flex justify-content-end subnanme">Subordinate</div>
                            <div class="mt-1 d-flex justify-content-end" style="cursor: pointer;">
                                <span class="text-danger" (click)="logout()"><i class="fa fa-power-off"></i>&nbsp;Logout</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6 d-flex justify-content-end flex-column align-items-center">
                            <div>
                              <img src="../../../../assets/Mask Group 12/Mask Group 12.png" alt="">
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
 

            <!-- <div class="d-none d-lg-block d-xl-block  row nav  mr-3 mt-3">
                <div class="col-lg-12 p-0 ml-2 border-bottom hrDashboard-list">
                    <span (click)="showLoan()" [ngClass]="{'selected':loadAdvance == true}">Loan And advance</span>
                    <span (click)="showapprovalHr()" [ngClass]="{'selected':loadAdvanceApprovalHr == true}">Loan And Advance Approval HR</span>
                    <span (click)="showPendingApproval()" [ngClass]="{'selected':loadpendingApproval == true}">Pending Approval</span>

                </div>
            </div>
     -->
            <!-- <div class="row mt-3 mr-3" *ngIf="loadAdvance">
                <app-loan-advance-request></app-loan-advance-request>
             </div>
             <div class="row mt-3 mr-3" *ngIf="loadAdvanceApprovalHr">
                <app-loan-advance-approval></app-loan-advance-approval>
             </div>
             <div class="row mt-3 mr-3" *ngIf="loadpendingApproval">
                <app-loan-pending-approval></app-loan-pending-approval>
             </div> -->
             <app-hr-dashboard-navbar></app-hr-dashboard-navbar>
        </div>
       