<!-- Modal -->
<div class="modal fade" id="empSearchModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row p-2" [formGroup]="employeeSearchForm">
                    <div class="col-lg-2">
                        <div class="row ">
                            <label style="font-weight: 600; font-size:14px;">Type of Req
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="row">


                            <div class="form-check mr-3">
                                <input class="form-check-input" type="radio" formControlName="searchType" value="1">
                                <label class="form-check-label">
                                    %A%
                                </label>
                            </div>
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" formControlName="searchType" value="2">
                                <label class="form-check-label">
                                    A%
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label style="font-weight: 600; font-size:14px;" class="form-label">Employee Name/Code
                            <span style="color: #FF0000;">*</span>
                        </label>
                        <input type="text"
                            style="display: inline !important; border: 1px solid #FD7B38; width: 83%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            class="form-control" formControlName="searchValue" placeholder="Enter Employee Name/Code">
                    </div>
                    <div class="col-lg-2 d-flex align-items-center">
                        <button
                            style="background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  70%;"
                            type="button" class="btn btn-outline-primary" (click)="searchEmployee()">Submit</button>
                    </div>
                </div>
                <div *ngIf="employeeList?.length>0" class="row p-2 table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Employee Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Location</th>
                                <th scope="col">Deesignation</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact No.</th>
                            </tr>
                        </thead>
                        <tbody style="height: 70vh !important; overflow-y: auto !important;">
                            <tr class="myTableRow" style="cursor: pointer;" data-bs-dismiss="modal"
                                (click)="setEmpCode(obj.EMP_Code)" *ngFor="let obj of employeeList; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{obj.EMP_Code}}</td>
                                <td>{{obj.Emp_Name}}</td>
                                <td>{{obj.Department}}</td>
                                <td>{{obj.Location}}</td>
                                <td>{{obj.Designation}}</td>
                                <td>{{obj.Mail}}</td>
                                <td>{{obj.Contactno}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

