<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-sidenav #sidenav mode="over" style="width: 287px;height: 100vh; position: fixed;overflow-y: auto; ">
  <img style="height: 17px; width: 17px; margin-top: 10px;margin-left: 10px" (click)="sidenav.toggle()"
    src="../../../assets/Menu/Menu@2x.png" alt="">
  <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <span class="employe">Employee Portal</span>

  </div>
  <!-- <div class="row p-2 mt-4"
    style="background-color: #FEF4EF;  border-right: 2px solid #FD7B38; margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">Dashboard</span>

    </div>
  </div> -->
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../../assets/images/tk.jpg" alt="" style="width:100px;">
    </div>
    <div class="col-12 text-center">
      Dummy
    </div>
    <div class="col-12 text-center">
      <span class="a" (click)="change_password()" >Change Password</span>
    </div>
    <div class="col-12 text-center">
      <span class="text-danger" (click)="logout()">Logout</span>
    </div>
  </div>

  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">HR Dashboard</span>

    </div>
  </div>
  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">Admin</span>

    </div>
  </div>
  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">Helpdesk</span>

    </div>
  </div>
  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">HR Helpdesk</span>

    </div>
  </div>
  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px; cursor: pointer;" routerLink="/itServiceDesk/main">
    <div class="col-lg-12 p-2">
      <span class="a">IT Service Desk</span>

    </div>
  </div>
  <div class="row p-2 " style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 p-2">
      <span class="a">Travel Plan & Claim</span>
    </div>
  </div>
  <!-- <div class="row p-2 " style="margin-left: 0px; margin-right: 0px; background-color: #FD7B38; color: white; cursor: pointer;"
    (click)="logout()">
    <div class="col-lg-12 p-2">
      <span class="a">Logout</span>
    </div>
  </div> -->
</mat-sidenav>
<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-2 p-3 responsiveBuger" style="background-color: white; border-radius: 10px; height: auto;">
      <div class="row ">
        <div class="col-lg-12">
          <div class="row  mb-1">
            <div class="col-lg-10">
              <img style="width: 125px; height: 30px;" src="../../../assets/LuminousLogoBlue/LuminousLogoBlue@2x.png"
                alt="">
            </div>
            <div class="col-lg-2 mt-2 ">
              <img style="height: 17px; width: 17px;" src="../../../assets/Menu/Menu@2x.png" alt="">
            </div>
          </div>
          <div class="row">
            <span class="employe">Employee Portal</span>
          </div>
          <div class="row" style="border-radius: 10px;border: 1px solid #a9a9a947;font-size: 13px;padding-left: 10px;">
            <div class="col-12 ">
              <h5 class="text-muted pt-2" style="margin: 0;">Useful Links</h5>
            </div>
            <div class="row pt-2"  style="max-height: 200px;overflow-y: auto;">
              <div class="col-lg-12 pt-2"  routerLink="/hrDashboard" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">HR Dashboard</span>
              </div>
              <div class="col-lg-12 pt-2" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">Admin</span>
              </div>
              <div class="col-lg-12 pt-2" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">Helpdesk</span>
              </div>
              <div class="col-lg-12 pt-2" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">HR Helpdesk</span>
              </div>
              <div class="col-lg-12 pt-2" routerLink="/itServiceDesk/main" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">IT Service Desk</span>
              </div>
              <div class="col-lg-12 p-2" style="cursor: pointer;border-bottom: 1px dotted lightgray;">
                <span class="a">Travel Plan & Claim</span>
              </div>
              <div class="col-lg-12 p-2" style="cursor: pointer;" (click)="logout()">
                <span class="a">Logout</span>
              </div>
            </div>
          </div>
         
        </div>
      </div>
        <!---pending list-->
        <div class="row mt-3" style="font-size: 13px;border: 1px solid #a9a9a94d;border-radius: 10px">
          <div class="col-12 mt-1" >
              <h5 class="text-muted pt-2">Pending Approval</h5>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6 tittle">Title</div>
              <div class="col-6 tittle">Total Pending</div>
            </div>
          </div>
          <div class="" style="max-height: 200px;overflow: auto;">
            <div class="col-12">
              <div class="row mt-1">
                <div class="col-6">Leave</div>
                <div class="col-6">12</div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-2">
                  <div class="col-6">Mobile Bill</div>
                  <div class="col-6">3</div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-2">
                  <div class="col-6">Need Based</div>
                  <div class="col-6">5</div>
              </div>
            </div>
            <div class="col-12">
                <div class="row mt-2">
                  <div class="col-6">Help desk</div>
                  <div class="col-6">12</div>
                </div>
            </div>
            <div class="col-12">
              <div class="row mt-2">
                  <div class="col-6">IT service Desk</div>
                  <div class="col-6">12</div>
              </div>
            </div>
         </div>
        </div><!----rwow end-->
       <!--------about our company section--------------->
        <div class="row mt-3 mb-2 " style="font-size: 13px;">
          <div class="col-12 col-lg-12 col-md-12 col-sm-12 bg-white" style="border-radius: 10px;border: 1px solid #a9a9a947;">
            <div class="col-12">
              <h5 class="pt-2 text-muted">About Our Company</h5>
            </div>
            <div style="max-height: 200px;overflow-x: hidden;overflow-y: auto;">
              <ul class="p-0  ul2" >
                <li  *ngFor="let item of abt_our_cmp_list" class="col-12 py-1" style="border-bottom: 1px dotted lightgrey;list-style: none;">
                    <a  style="text-decoration: none;" (click)="about_company(item.CatId,item.Action,item?.CatName)" >{{item?.CatName}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       <!--------about our company section end------------>
      
    
    </div>
    <div class="col-lg-10 col-12 mt-4" style="height: 100vh; overflow-y: auto;">
      <div class="row  mb-1 responsiveEmplo">
        <div class=" col-12 mt-2 ">
          <mat-sidenav-container class="example-container" style="background-color:#f1f1f1">
            <mat-sidenav-content>
              <img style="height: 17px; width: 17px; display: inline;" (click)="sidenav.toggle()"
                src="../../../assets/Menu/Menu@2x.png" alt="">
              <img style="width: 125px; height: 30px;margin-left: 10px; display: inline;"
                src="../../../assets/LuminousLogoBlue/LuminousLogoBlue@2x.png" alt="">
            </mat-sidenav-content>
          </mat-sidenav-container>
          <!-- <img style="height: 17px; width: 17px; margin-top: 3px;" (click)="sidenav.toggle()" src="../../../assets/Menu/Menu@2x.png" alt=""> -->

        </div>
      </div>
      <div class="row responsiveEmplo">
        <span class="employe">Employee Portal</span>
      </div>
      <div class="row  ">
        <div class="col-lg-10">
          <h3 class="head">Dashboard</h3>
        </div>
        <div class="col-lg-2">
        <!-- Example single danger button -->
          <div class="btn-group">
            <button type="button" class="profile_btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../assets/images/tk.jpg" alt="" style="width: 50px;border-radius: 50%;">
            </button>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Home</a></li>
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
            </ul>
          </div>
          
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-12 ">
          <img class="image1" src="{{banner_image}}" alt=""
            style="height: 100%; width: 100%;">
          <img class="image" src="{{banner_image}}" alt=""
            style="height: 100%; width: 100%;">
        </div>
      </div>
      <div class="row mt-3 mb-2" style="padding: 10px;">
        <div class="col-lg-12 col-12">
          <div class="row dashboard_img_row bg-white" style="overflow-y: auto;">
            <div *ngFor="let image of dashboardImages" class="col-lg-4 col-12 p-2">
              <div class="card ">
                <img (click)="getDashboardHomeClick(image.Mid)" src="{{image.Img_Path}}" class="card-img-top"
                  alt="...">

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------about our company section--------------->
      <div class="row mt-3 mb-2 about_company_div" style="padding: 10px;">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 bg-white">
          <div class="col-12">
            <h5 class="pt-2">About Our Company</h5>
          </div>
          <div style="max-height: 200px;overflow-x: hidden;overflow-y: auto;">
            <ul class="p-0  ul2" >
              <li  *ngFor="let item of abt_our_cmp_list" class="col-12 py-1" style="border-bottom: 1px dotted lightgrey;list-style: none;">
                  <a  style="text-decoration: none;" (click)="about_company(item.CatId,item.Action,item?.CatName)" >{{item?.CatName}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--------about our company section end------------>
      <div class="row col-mt-2 pending_approval" style="padding: 10px;">
        <div class="col-lg-3 col-12 ">
          <div class="row holi-header1responsive bg-white" style="height: 100%;">
              <div class="row">
                <span class="pending mt-2 pending-responsive">Pending Approval</span>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 col-6 pending">
                  <div class="row">
                    <span class="tittle">
                      Title
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      Leave
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      Mobile Bill
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      Need Based
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      Helpdesk
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      IT Service Desk
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-6">
                  <div class="row">
                    <span class="tittle">
                      Total Pending
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      12
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      5
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      3
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      12
                    </span>
                  </div>
                  <div class="row mt-4">
                    <span class="tittle-light">
                      12
                    </span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-2 ">
        <!---today birhtday column----------------------------------------->
        <div class="col-lg-6 col-12 mb-3 today-responsive" style="padding-left:1.3rem;border-radius: 10px;">

          <div class="row ml-1 bg-white my">
            <div class="col-lg-4 col-4">
              <img src="../../../assets/Group 49688/Group 49688.png" alt="">
            </div>
            <div class="col-lg-4 col-4 d-flex justify-content-center today">
              Today's Birthday
            </div>
            <div class="col-lg-4 col-4 d-flex justify-content-end">
              <img src="../../../assets/Group 49589/Group 49589.png" alt="">
            </div>
          </div>

          <div class="row bg-white brb">
            <div class="col-lg-6 col-6 mb-3" *ngFor="let item of birthday_list">
                <span style="font-size: 13px; font-weight: 600;">{{item.Empname}}</span>
                <div class="manufacturing">{{item.Dept}}</div>
            </div>
            <div class="col-12 col-lg-3 mb-2">
              <a href="#"  data-bs-toggle="modal" data-bs-target="#birthdayModal" style="text-decoration: none;">
                More Details
              </a>
            </div>
          </div>
        </div>
        <!---today birhtday column end--------------------------------------->
        <!-----latest news section-->
        <div class="col-lg-6 col-12 mb-3 column-latest">
          <div class="row   bg-white  latest p-2" style="height: 95%;">
            <div class="col-lg-12 mt-2 mb-3">
              <div class="row mt-1 ">
                <h5 class="news">Latest News</h5>
              </div>
              <div class="row  mt-2">
                <div class="col-lg-12 mt-2  paragraph">
                  <a href="https://dashboard.luminousindia.com/downloads/Values.pdf" style="text-decoration: none;"> Launch of new core values</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="createSession" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-1">
        <mat-carousel
            timings="250ms ease-in"
            [autoplay]="true"
            [interval]="5000"
            color="accent"
            maxWidth="auto"
            [slides]="5"
            [loop]="true"
            [hideArrows]="false"
            [hideIndicators]="true"
            [useKeyboard]="true"
            [useMouseWheel]="false"
            [proportion]="55"
            orientation="ltr">
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let images of dashboardImagesclick"
              [image]="images.img_path"
              overlayColor="#00000040"
              [hideOverlay]="false">
            </mat-carousel-slide>
            </mat-carousel>
            <!-- <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of dashboardImagesclick">
                <ng-template carouselSlide [id]="slide.id">
                  <img [src]="slide.img_path">
                </ng-template>
              </ng-container>
            </owl-carousel-o> -->
      </div>
     
    </div>
  </div>
</div>


<!---birthday modal-->
<div class="modal fade" id="birthdayModal" tabindex="-1" aria-labelledby="birthdayModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: max-content;">
    <div class="modal-content" style="width: max-content;">
      <div class="modal-header">
        <h5 class="modal-title">Today Birthday</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Employee Name</th>
              <th scope="col">Department</th>
              <th scope="col">Email</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of birthday_list">
              <th scope="row">{{item?.Empname}}</th>
              <td>{{item?.Dept}}</td>
              <td>{{item?.Email}}</td>
              <td>{{item?.Location}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>