.employe {
    color: #595959;
    font-size: 16px;
    padding-left: 17px;

    
}
.container-fluid {
    background-color: #F7F6F4;
    height: auto;
  
    font-style: Poppins;
}

.head {
    font-weight: 700;
    font-size: 35px;
    height: 40px;
    width: 199px;
}

.image {
    display: none;
}

.link {
    color: #3190FF;
    font-size: 11px;
    margin-top: 5px;
    padding-right: 10px;
}

.holi {
    font-size: 16px;
    font-weight: 600;
}

.card {
    height: 100%;
    width: 100%;
}

.holi-header {
    border-radius: 10px;
    margin-left: 10px;
}

.holi-header1 {
    border-radius: 10px;
    
    margin-left: 13px;
}

.pending {
    font-size: 16px;
    padding-left: 29px;
    font-weight: 600;
}

.tittle {
    color: #FD7B38;
    font-size: 14px !important;
}

.tittle-light {
    color: #6C6C6C;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.bday {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 600;
}

.celebration {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.photo {
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}

.today {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.manufacturing {
    font-size: 10px;
    font-weight: 300;
}

.my {
    /* border-bottom-left-radius: 10px; */
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.latest {
    margin-left: 3px;
    border-radius: 10px;
    margin-right: 10px;
}

.news {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

.paragraph {
    background-color: #FFF2EC;
    border-radius: 10px;
}

.dummyText {
    font-weight: 500;
}

.trophy {
    background-color: #FFF2EC;
}

.april {
    color: #6C6C6C;
    font-weight: 300;
    font-size: 14px;
}

.reward {
    font-weight: 600;
    font-size: 16px;
}

.unit {
    color: #FD7B38;
    font-size: 18px;
}

.depart {
    color: #FD7B38;
    font-size: 14px;
}

.total {
    font-size: 12px;
    color: #6C6C6C;
    font-weight: 300;
    margin-bottom: 12px;
}

.unit-responsive {
    display: none;
}
.responsiveEmplo{
    display: none !important;
}

.brb{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ul2 li a{
    text-decoration: none;
    color: #0d6efd;
    cursor: pointer;
}
.carousel-indicators {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    outline: 0;
}
.dashboard_img_row{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 258px;
    /* overscroll-behavior-x: contain; */
}

.pending_approval{
    display: none;
}
.about_company_div{
    display: none;
}
.profile_btn{
    border: none;
    background: none;
}
::ng-deep .mat-icon-button{
    background: white !important;
}
.a{
    color: #0d6efd;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    .pending_approval{
        display: block;
    }
    .about_company_div{
        display: block;
    }
    
    .image {
        display: block;
    }
    .image1 {
        display: none;
    }
    .holi-responsive {
        padding: 15px;
    }
    .holi-header {
        border-radius: 10px;
        margin-left: 0px;
    }
    .holi-header1 {
        border-radius: 10px;
        
        margin-left: 0px;
    }
    .holi-header1responsive {
        padding: 15px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .today-responsive {
        display: block;
    }
    .latest {
        border-radius: 10px;
    }
    .column-latest {
        padding: 9px;
        padding-right: 6px;
        padding-left: 12px;
    }
    .pending-responsive {
        font-size: 16px;
        padding-left: 15px;
        font-weight: 600;
    }
    .unit {
        display: none !important;
    }
    .depart-responsive {
        margin: 0px;
    }
    .april {
        margin-left: 10px;
    }
    .reward {
        margin-left: 10px;
        margin-top: 2px;
    }
    .april-responsive {
        margin-top: 2px;
    }
    .unit-responsive {
        display: inline;

    }
    .responsiveBuger{
        display: none !important;
    }
    .responsiveEmplo{
        display: block !important;
    }
    .employe {
        color: #595959;
        font-size: 16px;
        padding-left: 17px;
        margin-left: 28px;
        
    }
}