<app-hrdashboard></app-hrdashboard>
<!-- <app-hr-dashboard-navbar></app-hr-dashboard-navbar> -->
<div class="container-fluid px-4 " style="font-family: Poppins; ">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div  class="row d-flex justify-content-center"  style="font-size: 10px !important;">
        <!-- <mat-form-field  appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter()" [(ngModel)]="filterVal" placeholder="Enter Any Value From The Table" >
        </mat-form-field> -->
        <div class="mt-5"></div>
        <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped mt-5">
            <thead>
                <tr class="thead-dark" style="background-color: silver;">
                    <th scope="col">Request ID</th>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Purpose Type</th>
                    <th scope="col">Principal Amount</th>
                    <th scope="col">Interest Amount	</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="loanApprovalList?.length>0">
                <tr *ngFor="let obj of loanApprovalList | paginate: { itemsPerPage: 10, currentPage: p }">
                    <th scope="row">{{obj.ID}}</th>
                    <td>{{obj.PersonalId}}</td>
                    <td>{{obj.EmployeeName}}</td>
                    <td>{{obj.CategoryType}}</td>
                    <td>{{obj.PurposeType}}</td>
                    <td>{{obj.PrincipalAmount}}</td>
                    <td>{{obj.Interestamount}}</td>
                    <td>{{obj.Amount}}</td>
                    <td>{{obj.Createddate}}</td>
                    <td>{{obj.Status}}</td>
                    <td>
                        <span class="actionbtn" (click)="approval_modal(obj)">Apr</span>|
                        <span class="actionbtn" (click)="reject_modal(obj)">Rjt</span>|
                        <span class="actionbtn" (click)="open_detail_page(obj)">Detail</span>|
                        <span class="actionbtn"><span *ngIf="!obj.filepth.length">NA</span><span *ngIf="obj.filepth.length"><a href="{{obj.filepth}}" target="_blank">file</a></span></span>
                    </td>
                    <!-- <td style="text-decoration: underline; color: blue; cursor: pointer;" (click)="showDetail(obj)">Detail</td> -->
                </tr>
            </tbody>
            <tbody *ngIf="loanApprovalList?.length==0">
                <tr>
                    <th colspan="11">Data Not Found.</th>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>

<div class="modal fade " data-backdrop="static" id="approval_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content p-4">
      <div class="modal-header"><span data-bs-dismiss="modal" >&times;</span></div>
      <div class="row mb-3">
        <div class="col-12 ">
          <div class="row mt-3 d-flex justify-content-center">
            <div class="form-group">
                <label class="input-label mb-0 ec">Employee Code: {{employe_code}}</label>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Amount</label>
                <input autocomplete="off" class="input-text form-control" id="amount" name="amount" [(ngModel)]="amount"  placeholder="Amount" type="text">
                <div class="required amountError display_none">Amount is required.</div>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Emi Type</label>
                <select name="emi_type" class="form-select" id="emi_type" [(ngModel)]="emi_type">
                    <option value="">Select</option>
                    <option value="3">3 month</option>
                    <option value="6">6 month</option>
                    <option value="9">9 month</option>
                    <option value="12">12 month</option>
                    <option value="24">24 month</option>
                </select>
                <div class="required emitypeError display_none">Emi Type is required.</div>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Reason</label>
                <textarea autocomplete="off" class="input-text form-control" id="reason" name="reason" [(ngModel)]="reason"  placeholder="Reason" type="text"></textarea>
                <div class="required reasonError display_none">Reason is required.</div>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Payment Request No</label>
                <input autocomplete="off" class="input-text form-control" id="payment_request_no" name="payment_request_no" [(ngModel)]="payment_request_no" placeholder="Payment Request No" type="text">
                <div class="required prnError display_none">Payment Request No. is required.</div>
            </div><br>
            <div class="form-group">
                <label class="input-label mb-0">Upload</label>
                <input type="file" class="input-text upload_file" multiple (change)="selectFiles($event)" />
                <div class="required uploadError display_none">Upload the document.</div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12" style="display: flex; justify-content: center;">
              <button type="button" class="btn btn-outline-primary approveBtn" (click)="approve_loan()">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " data-backdrop="static" id="reject_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content p-4">
      <div class="modal-header"><span data-bs-dismiss="modal" >&times;</span></div>
      <div class="row mb-3">
        <div class="col-12 ">
          <div class="row mt-3 d-flex justify-content-center">
            <div class="form-group">
                <label class="input-label mb-0 ec">Employee Code: {{employe_code}}</label>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Amount: {{amount}}</label>
            </div>
            <div class="form-group">
                <label class="input-label mb-0">Reason</label>
                <textarea autocomplete="off" class="input-text form-control" id="reason" name="reason" [(ngModel)]="reject_reason"  placeholder="Reason" type="text"></textarea>
                <div class="required reasonError display_none">Reason is required.</div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12" style="display: flex; justify-content: center;">
              <button type="button" class="btn btn-outline-primary approveBtn" (click)="reject_loan()">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade " data-backdrop="static" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content p-4">
      <div class="modal-header"><span data-bs-dismiss="modal" >&times;</span></div>
      <div class="row mb-3">
        <div class="col-12 ">
            <div  class="row d-flex justify-content-center" style="font-size: 10px !important;">
                <div class="history-txt">History</div>
                <table class="table table-striped">
                    <thead>
                        <tr class="thead-dark" style="background-color: silver;">
                            <th scope="col">Request ID</th>
                            <th scope="col">Source</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Forwarded Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loanApprovalHistory?.historydata?.length>0">
                        <tr *ngFor="let obj of loanApprovalHistory?.historydata">
                            <th scope="row">{{obj.ID}}</th>
                            <td>{{obj.Source}}</td>
                            <td>{{obj.Destination}}</td>
                            <td>{{obj.Forwardeddate}}</td>
                            <td>{{obj.StatusName}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="loanApprovalHistory?.historydata?.length==0">
                        <tr>
                            <th colspan="5">Data Not Found.</th>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="row p0">
                    <div class="col-md-4 p0 mt-2">
                        <div class="history-txt">File Detail</div>
                        <table class="table table-striped">
                            <thead>
                                <tr class="thead-dark" style="background-color: silver;">
                                    <th scope="col">File</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="loanApprovalHistory?.historyGriddata?.length>0">
                                <tr *ngFor="let obj of loanApprovalHistory?.historyGriddata">
                                    <th scope="row"><a href="{{obj.filepth}}" target="_blank">{{obj.filepth}}</a></th>
                                </tr>
                            </tbody>
                            <tbody *ngIf="loanApprovalHistory?.historyGriddata?.length==0">
                                <tr>
                                    <th colspan="1">Data Not Found.</th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="payment-request-no f14">Payment Request No : {{lblPayNo}}</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-detail-modal 
[loanApprovalHistory]="loanApprovalHistory"
></app-detail-modal>
<app-hr-dashboard-footer></app-hr-dashboard-footer>