<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="card mt-4">
                <div class="card-header">
                  {{page_content[0].CatTitle}}
                </div>
                <!----cpmpany profile card-->
                <div class="card-body p-4" *ngIf="cat_id=='1'">
                  
                  <p class="card-text">
                      {{page_content[0].CatDet}}
                  </p>
                  
                </div>

                <!--vision and mission card-->
                <div class="card-body p-4" *ngIf="cat_id=='3'">
                    <div *ngFor="let item of page_content">
                        <h5>{{item?.CatTitle}}</h5>
                        <p>{{item?.CatDet}}</p>
                    </div>
                </div>

                <!--Corporate Philosophy card----->
                <div class="card-body p-4" *ngIf="cat_id=='4'">
                    <div *ngFor="let item of page_content">
                        <p><li style="list-style: disc;">{{item?.CatDet}}</li></p>
                    </div>
                </div>

                <!--IT Policies card----->
                <div class="card-body p-4" *ngIf="cat_id=='8'">
                    <h5>IT Policy</h5>
                    <div *ngFor="let item of page_content">
                        <p><li style="list-style: none;"><a style="text-decoration: none;" href="{{item?.DocPath}}" target="_blank"><img src="./../../../../assets/images/pdf_icon.png" alt="" style="height: 20px;">&nbsp;{{item?.CatTitle}}</a></li></p>
                    </div>
                </div>
              </div>
        </div>
    </div> 
</div>
