<div class="container-fluid ">

    <mat-sidenav #sidenav mode="over">
        <img style="height: 17px; width: 17px;" (click)="sidenav.toggle()" src="../../../assets/Menu/Menu@2x.png"
            alt="">
        <div class="row">
            <span class="employe">Employee Portal</span>

        </div>
        <div class="row p-2 mt-4" style="background-color: #FEF4EF;  border-right: 2px solid #FD7B38;">
            <div class="col-lg-12 p-2">
                <span class="a">Dashboard</span>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-lg-12 p-2">
                <span class="a">HR Dashboard</span>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-lg-12 p-2">
                <span class="a">Admin</span>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-lg-12 p-2">
                <span class="a">Helpdesk</span>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-lg-12 p-2">
                <span class="a">HR Helpdesk</span>
            </div>
        </div>
        <div class="row p-2 " routerLink="/itServiceDesk/main">
            <div class="col-lg-12 p-2">
                <span class="a">IT Service Desk</span>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-lg-12 p-2">
                <span class="a">Travel Plan & Claim</span>
            </div>
        </div>
        <div class="row p-2 " style="background-color: #FD7B38;" (click)="logout()" >
            <div class="col-lg-12 p-2">
                <span>Logout</span>
            </div>
        </div>
    </mat-sidenav>

    <div class="row px-2">
        <div class="col-lg-12">

            <div class="row">

                <div class="col-lg-2 col-6 p-0">
                    <div class="logo  ">
                        <img src="../../../../assets/images/LuminousLogoBlue.png" alt="">
                        <span
                            style="color: #595959;  font-size:17px; font-weight: 300; opacity: 1;height: 24px; margin-left: 5px;">Employee
                            Portal</span>
                    </div>
                    <mat-sidenav-container class="example-container topnav ">
                        <mat-sidenav-content>
                            <img style="height: 17px; width: 17px;" (click)="sidenav.toggle()"
                                src="../../../assets/Menu/Menu@2x.png" alt="">
                        </mat-sidenav-content>
                    </mat-sidenav-container>



                </div>
                <div class="col-lg-2 col-12  d-flex align-items-center">
                    <span style="font-size: 24px; font-weight: 600;height: 49px;  margin-top: 32px;">IT Service
                        Desk</span>
                </div>

                <div class=" col-lg-7 col-6 ">
                    <div class="row d-flex justify-content-end dashboard ml-3">
                        <div class=" col-lg-8 col-8 d-flex justify-content-end">
                            <button type="button" class="d-none d-lg-block d-xl-block btn btn-outline-primary button">
                                <div class=" row ">
                                    <div class="col-lg-3 col-3 d-flex justify-content-end p-0">
                                        <img style="height: 17px; width: 17px; margin-top: 3px;;"
                                            src="../../../../assets/noun_dashboard_3846734/noun_dashboard_3846734.png"
                                            alt="">
                                    </div>
                                    <div class="col-lg-8 col-3 p-0" routerLink="/dashboard">Dashboard</div>
                                </div>


                            </button>
                        </div>
                        <div class=" d-none d-lg-block d-xl-block col-lg-2 pl-2 col-2">
                            <div class=" row d-flex justify-content-end nam">
                                Ashok Pandey
                            </div>
                            <div class="row d-flex justify-content-end subnanme">Subordinate</div>
                            <div class="mt-1 d-flex justify-content-end" style="cursor: pointer;">
                                <span class="text-danger" (click)="logout()"><i class="fa fa-power-off"></i>&nbsp;Logout</span>
                            </div>


                        </div>
                        <div class="col-lg-2 col-6 d-flex justify-content-end">
                            <img src="../../../../assets/Mask Group 12/Mask Group 12.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none d-lg-block d-xl-block  row nav  mr-3 ">

                <div class="col-lg-12 p-0 ml-2 border-bottom">
                    <span [ngClass]="{'selected' : tabVal == 'home'}" (click)="switchTab('home')"
                        style="margin-left:10px; cursor: pointer;">Home</span>
                    <span [ngClass]="{'selected' : tabVal == 'logTicket'}" (click)="switchTab('logTicket')" class="bar">
                        Log a ticket</span>
                    <span class="bar"> Assignment</span>
                    <span class="bar"> Knowledge base</span>
                    <span [ngClass]="{'selected' : tabVal == 'project'}" (click)="switchTab('project')" class="bar">
                        Project</span>
                    <span class="bar"> Pending for approval</span>
                    <div class="dropdown bar">
                        <button class="dropbtn">...</button>
                        <div class="dropdown-content">
                          <a  (click)="switchTab('rightMaster')" >RIGHT</a>
                          <a href="#">ITEM MASTER</a>
                          <a href="#">ITEM TECH MAPPING</a>
                        </div>
                      </div>

                </div>
            </div>
            <div *ngIf="checkTech == 'true' && totalEmployeeTickets != '' " class="row mb-2 mt-2"
                style="background-color: #FFF9F6;">
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Unassigned')">{{totalEmployeeTickets.Unassigned}}</div>
                    <div class="row d-flex justify-content-center main-content">Unassigned</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Open')">{{totalEmployeeTickets.Open}}</div>
                    <div class="row d-flex justify-content-center main-content">Open</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Work-In-Progress')">{{totalEmployeeTickets.WorkinProgress}}
                    </div>
                    <div class="row d-flex justify-content-center main-content">WIP</div>
                </div>
                <div class="col-lg-3 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Awaiting Input From Employee')">
                        {{totalEmployeeTickets.AwaitinginputfromEmployee}}</div>
                    <div class="row d-flex justify-content-center main-content">Awaiting Input From Employee</div>
                </div>
                <div class="col-lg-2 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Awaiting For Vendor')">
                        {{totalEmployeeTickets.AwaitingforVendor}}</div>
                    <div class="row d-flex justify-content-center main-content">Awaiting for Vendor</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('On Hold')">{{totalEmployeeTickets.OnHold}}</div>
                    <div class="row d-flex justify-content-center main-content">On Hold</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Exception Expired')">{{totalEmployeeTickets.ExceptionExpire}}
                    </div>
                    <div class="row d-flex justify-content-center main-content">Exception Expired</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Ut')">{{totalEmployeeTickets.Testing}}</div>
                    <div class="row d-flex justify-content-center main-content">Testing</div>
                </div>
                <div class="col-lg-1 col-6 p-3">
                    <div class="row d-flex justify-content-center main-number" (click)="switchTab('Grc Pending')">{{totalEmployeeTickets.GRC}}</div>
                    <div class="row d-flex justify-content-center main-content">GRC</div>
                </div>

            </div>
            <div class="row mt-3 mr-3">
                <div class="col-lg-12 col-12 bg-white p-0 post-detail-box">
                    <app-home *ngIf="tabVal == 'home'"></app-home>
                    <app-log-ticket *ngIf="tabVal == 'logTicket'"></app-log-ticket>
                    <app-project *ngIf="tabVal == 'project'"></app-project>
                    <app-tech-ticket-detail [tabVal]="tabVal"  *ngIf="tabVal == 'Unassigned' || tabVal == 'Open' || tabVal == 'Work-In-Progress' || tabVal == 'Awaiting Input From Employee' || tabVal == 'Awaiting For Vendor' || tabVal == 'On Hold' || tabVal == 'Exception Expired' || tabVal == 'Ut' || tabVal == 'Grc Pending' " ></app-tech-ticket-detail>
                    <app-right-master *ngIf="tabVal == 'rightMaster'"></app-right-master>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end mt-3 copyright">
                    <span style="font-size: 13px;">Luminous India 2021 Copyright</span>
                </div>
            </div>
        </div>


    </div>
</div>