.selected {
    color: #FD7B38;
    border-bottom: 2px solid #FD7B38;
}

.container-fluid {
    background-color: #F7F6F4;
    font-family: Poppins;
}

.logo {
    height: 35px;
    width: 148px;
    margin-top: 31px;
}

.button {
    border: 2px solid #FD7B38;
    color: #FD7B38;
    border-radius: 25px;
    width: 174px;
    background-color: white;
    height: 39px;
}

.nam {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.subnanme {
    font-size: 11px;
    font-weight: 300;
    color: #6C6C6C;
    margin-right: 10px;
}

.dashboard {
    margin-top: 35px;
}

.nav {
    font-weight: 600;
    font-size: 14px;
    color: #6C6C6C;
}

.copyright {
    color: #6C6C6C;
    font-style: 10px;
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.topnav {
    display: none;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.bar {
    margin-left: 23px;
    font-weight: 600;
    cursor: pointer;
}

.post-detail-box {
    height: auto;
    margin-left: 15px;
    border-radius: 12px;
}

.employe {
    color: #595959;
    font-size: 21px;
    padding-left: 17px;
    
}

.main-number {
    font-size: 20px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

.main-number:hover{
    text-decoration: underline;
}

.main-content {
    color: #FD7B38;
    font-size: 15px;
    text-align: center;
}





.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent;}












@media screen and (min-width: 320px) and (max-width: 1000px) {

    .post-detail-box {
        height: auto;
        margin-right: 30px;
       
        border-radius: 12px;
    }
    .responsive-it{
        display: none;
    }
    .topnav {
        display: unset;
    }

    

}