.awaiting {
    background-color: #fd7b38;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    height: 35px;
    width: 60%;
    font-size: 13px;
    border: 0px;
    text-align: center;
}

.inputform {
    width: 80%;
    border: 1px solid #FD7B38;
    /* height: 35px; */
    border-radius: 5px;
    background-color: #FFF9F6;
    color: #6C6C6C;
}
.error,.required{
    color: red;
}

.display_none{
    display: none;
}
input:disabled {
    background: #dddddd;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}