<app-hrdashboard></app-hrdashboard>
<div class="container-fluid">
    <div class="row px-2" >
        <div class="col-lg-6">
            <div class="row mt-4">
                <div class="col-lg-6 ">Select Type<span class="required">*</span></div>
                <div class="col-lg-6">
                    <select class="form-select px-2 inputform loantype" [(ngModel)]="loantype" (change)="change_loan_type()">
                        <option value="" selected>select Type</option>
                        <option value="1">Loan</option>
                        <option value="2">Salary Advance</option>
                    </select>
                    <div class="error display_none loantype_err">Loan type is required <span class="required">*</span></div>
                </div>
            </div>
         
            <div class="row mt-2">
                <div class="col-lg-6 ">Purpose of Loan or advance<span class="required">*</span></div>
                <div class="col-lg-6">
                    <select class="form-select px-2 inputform loanpurpose" [(ngModel)]="loanpurpose" (change)="validate_input('loanpurpose','loanpurpose_err')" (ngModelChange)="onchangeloanpurpose($event)">
                        <option value="" selected>select</option>
                        <option  *ngFor="let obj of purpose; index as i" value="{{i+1}}" > {{obj?.PurposeName}} </option>
                    </select>
                    <div class="error display_none loanpurpose_err">Loan purpose is required</div>
                </div>
            </div>
            
            <div class="row mt-4" *ngIf="loanpurpose=='7'">
                <div class="col-lg-6 "></div>
                <div class="col-lg-6 ">
                    <input type="text" class="form-control inputform other" [(ngModel)]="other" placeholder="Enter reason" (change)="validate_input('other','other_err')">
                    <div class="error display_none other_err">Other reason is required</div>
                </div>
            </div>

            <div class="row mt-4" *ngIf="loanpurpose=='8'">
                <div class="col-lg-6 ">Covid Type<span class="required">*</span></div>
                <div class="col-lg-6 ">
                    <select class="form-select px-2 inputform covidtype" [(ngModel)]="covidtype" (change)="validate_input('covidtype','covidtype_err')" >
                        <option value="" >select</option>
                        <option value="1" > Self </option>
                        <option value="2" > Immediate Family </option>
                    </select>
                    <div class="error display_none  covidtype_err">This field  is required</div>
                </div>
            </div>

            <div class="row mt-2" *ngIf="covidtype =='2'">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Relation Type<span class="required">*</span>-</span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="text" class="form-control inputform relation" [(ngModel)]="relation" placeholder="" (change)="validate_input('relation','relation_err')">
                    <div class="error display_none relation_err">This field  is required</div>
                </div>
            </div>

            <div class="row mt-2" *ngIf="loanflag">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Monthly Fixed CTC Amount<span class="required">*</span>-</span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="number" onkeydown="javascript: return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189" class="form-control inputform monthCtc" [(ngModel)]="monthCtc" placeholder="" (change)="calc_max_eligibility()" (ngModelChange)="check_monthctc()">
                    <div class="error display_none monthCtc_err">This field  is required</div>
                </div>
            </div>
            <div class="row mt-2" *ngIf="loanflag">
                <div class="col-lg-6 col-6 ">
                    <span class="id" style="text-align: center;">Maximum Eligibility of Loan/ Advance Amount<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="number" class="form-control inputform" value=""  [(ngModel)]="maxEligibleAmount" placeholder="" [disabled]=isDisabled (ngModelChange)="check_applied_amount()">
                    <div class="error display_none maxEligibleAmount_err">This field  is required</div>
                </div>
            </div>
            <div class="row mt-2" >
                <div class="col-lg-6 col-6 ">
                    <span class="id">Applied Amount<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="number" class="form-control inputform Amount" [(ngModel)]="Amount" placeholder="" (change)="validate_input('Amount','Amount_err')" (ngModelChange)="check_applied_amount()">
                    <div class="error display_none Amount_err">This field  is required</div>
                    <div class="error display_none amount_check_err"></div>
                </div>
            </div>
            <div class="row mt-2" *ngIf="loanflag">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Interest Amount<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="text" class="form-control inputform " [(ngModel)]="intrestAmount" placeholder="" [disabled]=isDisabled >
                    <div class="error display_none intrestAmount_err">This field  is required</div>
                </div>
            </div>
            <div class="row mt-4" *ngIf="loanflag">
                <div class="col-lg-6 ">Select EMI Option<span class="required">*</span></div>
                <div class="col-lg-6">
                    <select class="form-select px-2 inputform loanemi" [(ngModel)]="loanemi" (change)="validate_input('loanemi','loanemi_err')">
                        <option value="" selected>select</option>
                        <option  *ngFor="let obj of emiarray; index as i"  value="{{i+1}}"> {{obj.value}} </option>
                        <option value="5"  *ngIf="loanpurpose=='8' && loantype=='1'">24 Month</option>
                    </select>
                    <div class="error display_none loanemi_err">Emi is required</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-6  align-items-center ">
                    <span class="id">Address<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="text" style="height: 80px !important;" class="form-control inputform Address" [(ngModel)]="Address" placeholder="" (change)="validate_input('Address','Address_err')" >
                    <div class="error display_none Address_err">Address  is required</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Pin Code<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="number" class="form-control inputform pincode" [(ngModel)]="pincode" placeholder="" (change)="validate_input('pincode','pincode_err')">
                    <div class="error display_none pincode_err">Pincode  is required</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Mobile Number<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-6">
                    <input type="number" class="form-control inputform MobileNo " [(ngModel)]="MobileNo" placeholder="" (change)="validate_input('MobileNo','MobileNo_err')">
                    <div class="error display_none MobileNo_err">Mobile Number is required</div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6 col-6 ">
                    <span class="id">Select File<span class="required">*</span></span>
                </div>
                <div class="col-lg-6 col-12  mt-2 ">
                    <div class="row">
                        <div class="col-12">
                            <input type="file" class="uploaded_file" (change)="selectFiles($event)" />
                           <div class="error display_none uploaded_file_err">file is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                         <div class="col-12">
                             <table class="table w-50" *ngIf="uploaded_file.length">
                                 <tr>
                                     <td>filename</td>
                                     <td>action</td>
                                 </tr>
                                 <tr *ngFor="let item of uploaded_file;let index = index">
                                    <td>{{item.FilePath}}</td>
                                    <td>
                                        <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="delete_uploaded_file(index)">Delete</span>
                                    </td>
                                 </tr>
                             </table>
                         </div>
                    </div>
                    <!-- <button style="background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  60%;"
                        type="button" class="btn btn-outline-primary">Add Attachment</button> -->
                </div>
            </div>
            <div class="row  mt-4">
                <div class="col-lg-6 "></div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary awaiting" (click)="submit_loan_advance_request()">Submit</button>
                </div>
            </div>
           
        </div>
        <div class="col-lg-6">
            <div class="row mt-4">
                <div class="col-lg-12">
                    Approval Process:-
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                   HRSS Approval &#8594;  RM Approval &#8594; VERTICAL HEAD Approval &#8594; TWO WITNESS Approval &#8594; FINANCE Approval
                </div>
            </div>
            <div class="row mt-3 ">
                <div class="col-lg-12">
                   HRSS : {{detailData?.HRName}}

                </div>
            </div>
            <div class="row mt-3 ">
                <div class="col-lg-12">
                   RM : {{detailData?.RMName}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                    VERTICAL HEAD : {{detailData?.VName}}
                </div>
            </div>
            <div class="row mt-3 ">
                <div class="col-lg-12">
                    HRBP HEAD:- {{detailData?.HRBPName}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-12">
                    Note:- <br> 
                    <br>
                   <span> 1. Your max limit for advance is one month salary & for loan 3 times of your fixed monthly CTC salary, Please apply little less than from maximum limit, which reduces the chance of rejection</span>
                    <br>
                    <br>
                   <span > 2. Please avoid loan/Advance application at the payroll time.</span>
                    <br>
                    <br>
                  <span>  3. In case covid is 0% interst rate and other is 5% interest rate </span>     
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 px-4">
        <div class="col-12 mt-5">
            <div  class="row d-flex justify-content-center  "
            style="font-size: 10px !important;">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped  table-border table-hover  ">
                <thead>
                    <tr class="thead-dark" style="background-color: silver;">
                        <th scope="col">Request Id</th>
                        <th scope="col" style="width: 180px;">Employee Code</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Purpose Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Status </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let obj of tablegridData">
                        <th scope="row">{{obj?.RequestID}}</th>
                        <td>{{obj?.PersonalId}}</td>
                        <td>{{obj?.EmployeeName}}</td>
                        <td>{{obj?.CategoryType}}</td>
                        <td>{{obj?.PurposeType}}</td>
                        <td>{{obj?.Amount}}	</td>
                        <td>{{obj?.Createddate}}</td>
                        <td>{{obj?.StatusName}}
                            <!-- wi-{{obj?.Witness}},
                            st ={{obj?.Status}},
                            EMP ={{obj?.Empca}},
                            VisibleEmp-{{obj?.VisibleEmp}},
                            LocationFLag ={{obj?.Locationflag}} -->
                        </td>
                        <td>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="open_detail_page(obj)">Detail</span>
                            &nbsp;<span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="cancel_loan(obj?.RequestID)" *ngIf="obj.Status==1" >Cancel</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='7' && obj.Witness=='1'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='7'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='7' && obj.Witness=='3'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='6' && obj.Empca=='DVC' && obj.VisibleEmp=='1'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='6' && obj.Empca=='DVC' && obj.Locationflag=='1'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='4' && obj.Empca=='DVC' && obj.Locationflag=='1' && obj.VisibleEmp=='1'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='4' && obj.Empca=='NDVC' &&  obj.VisibleEmp=='1'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='9' && obj.Witness=='3'" >&nbsp;Witness and accept digitally</span>
                            <span style="text-decoration: underline; color: blue; cursor: pointer;" class="actionbtn" (click)="witness_and_accept_digitally(obj)" *ngIf="obj.CategoryType=='Loan' && obj.Status=='10'" >&nbsp;View Agreement</span>
                        </td>
                    </tr>
                </tbody>
    
            </table>
            
        </div>
        </div>
    </div>
</div>
<app-detail-modal 
[loanApprovalHistory]="loanApprovalHistory"
[witness_accept_array]="witness_accept_array"
[witness_list_array]="witness_list_array"
(is_witness_form_submitted)="if_witness_form_submitted($event)"
></app-detail-modal>
<app-hr-dashboard-footer></app-hr-dashboard-footer>
