<app-hrdashboard></app-hrdashboard>
<div class="container mt-3">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="row">
        <ng-container *ngIf="filter_by =='1'">
            <div class="col-auto">
                Enter Employee Code/Name:
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" [(ngModel)]="employee_code" (ngModelChange)="validate_employee_code()">
                <div class="employee_code_err error display_none"></div>
            </div>
            <div class="col-auto"> 
                <button type="button" class="btn btn-secondary" (click)="filter_month_wise()">Show</button>
            </div>
        </ng-container>
    </div>
    <div class="row mt-4">
        <div class="col-7 col-lg-7 col-sm-12 col-md-7">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped mt-5">
                <thead>
                    <tr class="thead-dark" style="background-color: silver;">
                        <th scope="col">EmpCode</th>
                        <th scope="col">Emp Name</th>
                        <th scope="col">Eff From</th>
                        <th scope="col">Eff To</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody *ngIf="attendance_mapping_list?.length>0">
                    <tr *ngFor="let obj of attendance_mapping_list">
                        <td>{{obj.EmployeeName}}</td>
                        <td>{{obj.Type}}</td>
                        <td>{{obj.EffFrom}}</td>
                        <td>{{obj.EffTo}}</td>
                        <td>{{obj.Empcode}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="attendance_mapping_list?.length==0">
                    <tr>
                        <th colspan="11">Data Not Found.</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="row">
                <div class="col-4">
                    <label for="">Employee Code</label>
                </div>
                <div class="col-7">
                    <input type="text" name="emp_code" [(ngModel)]="empcode" class="form-control"  (ngModelChange)="validate_empcode()">
                    <div class="error display_none empcode_err"></div>
                </div>
                <div class="col-auto" style="padding: 0;padding-top: 6px;">
                    <i class="fas fa-play ml-2" data-bs-toggle="modal" data-bs-target="#empSearchModal"
                    style="display: inline !important; cursor: pointer;"></i>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4"> <label for="">Attendance Type</label></div>
                <div class="col-7">
                    <select name="" id="" [(ngModel)]="Type" class="form-select" (ngModelChange)="validate_type()">
                        <option value="">select</option>
                        <option *ngFor="let item of attendance_type_list" value="{{item?.TypeValue}}">{{item?.TypeName}}</option>
                    </select>
                    <div class="error display_none attendance_type_err"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4"> <label for="">Effective from and to</label></div>
                <div class="col-7">
                    <input type="text" ngxDaterangepickerMd   [locale]="{applyLabel: 'ok'}" [(ngModel)]="selected" startKey="start" endKey="end"
                    class="form-control" (change)="validate_date($event)"/>
                   <div class="from_date_err error display_none"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6"> </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" (click)="save_attendance_mapping()">Save</button>
                </div>
            </div>
           
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="empSearchModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row p-2" [formGroup]="employeeSearchForm">
                    <div class="col-lg-2">
                        <div class="row ">
                            <label style="font-weight: 600; font-size:14px;">Type of Req
                                <span style="color: #FF0000;">*</span>
                            </label>
                        </div>
                        <div class="row">


                            <div class="form-check mr-3">
                                <input class="form-check-input" type="radio" formControlName="searchType" value="1">
                                <label class="form-check-label">
                                    %A%
                                </label>
                            </div>
                            <div class="form-check  ">
                                <input class="form-check-input" type="radio" formControlName="searchType" value="2">
                                <label class="form-check-label">
                                    A%
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label style="font-weight: 600; font-size:14px;" class="form-label">Employee Name/Code
                            <span style="color: #FF0000;">*</span>
                        </label>
                        <input type="text"
                            style="display: inline !important; border: 1px solid #FD7B38; width: 83%; height: 35px; border-radius:5px; background-color: #FFF9F6; color: #6C6C6C;"
                            class="form-control" formControlName="searchValue" placeholder="Enter Employee Name/Code">
                    </div>
                    <div class="col-lg-2 d-flex align-items-center">
                        <button
                            style="background-color: #FD7B38; color: white; border:0px; border: radius 6px; width:  70%;"
                            type="button" class="btn btn-outline-primary" (click)="searchEmployee()">Submit</button>
                    </div>
                </div>
                <div *ngIf="employeeList?.length>0" class="row p-2 table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Employee Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Location</th>
                                <th scope="col">Deesignation</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact No.</th>
                            </tr>
                        </thead>
                        <tbody style="height: 70vh !important; overflow-y: auto !important;">
                            <tr class="myTableRow" style="cursor: pointer;" data-bs-dismiss="modal"
                                (click)="setEmpCode(obj.EMP_Code)" *ngFor="let obj of employeeList; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{obj.EMP_Code}}</td>
                                <td>{{obj.Emp_Name}}</td>
                                <td>{{obj.Department}}</td>
                                <td>{{obj.Location}}</td>
                                <td>{{obj.Designation}}</td>
                                <td>{{obj.Mail}}</td>
                                <td>{{obj.Contactno}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

