<div class="container-fluid">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
<div class="col-lg-6 ">
    <div class="row mt-2 ">
    <div class="col-lg-12 " style="background-color: #fd7b38; color: #fff;">
            Search Employee
        </div>
    </div>



<div  class="row"
    style="font-size: 10px !important;">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup.enter)="applyFilter()" [(ngModel)]="filterVal" placeholder="Enter Any Value From The Table" >
    </mat-form-field>

    <table  class="table table-striped">
        <thead>
            <tr class="thead-dark" style="background-color: silver;">
                <th scope="col">select</th>
                <th scope="col" style="width: 180px;">Emp id</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let obj of tabledata | paginate: { itemsPerPage: 10, currentPage: p }">
                <th style="text-decoration: underline; color: blue; cursor: pointer;"  scope="row">SELECT</th>
                <td>{{obj.EMP_Code}}</td>
                <td>{{obj.Emp_Name}}</td>
   
              
            </tr>
        </tbody>

    </table>
    <div  class="row d-flex justify-content-center">
        <div style="width: 50%;">
            <pagination-controls (pageChange)="p = $event" (responsive)="true"></pagination-controls>
        </div>
    </div>
</div>
</div>



</div>
